@charset "UTF-8";
/**
 *
 * @authors Your Name (you@example.org)
 * @date    2017-05-31 09:41:14
 * @version $Id$
 */

*{font-family: "-apple-system","microsoft yahei"; box-sizing: border-box;padding: 0px;margin: 0px;}
ul{list-style: none; padding: 0px; margin: 0px;}

button, input, select, textarea{font-family: "-apple-system","microsoft yahei"; box-sizing: border-box;-webkit-appearance: none;}
.clearfix:after,.clearfix:before{display:table;content:"";line-height:0}
.clearfix:after{clear:both}
.fl{ float: left}
.fr{ float: right}

html,body{font-size:65%;width: 100%;height: 100%;}
a{text-decoration: none;}
i,em{font-style: normal;}

/*首页*/
.kpCardWrap{background:#1992f2;width:100%;height:26%;padding: 20px; }
.kpCardWrap .scanPay{width: 50%;text-align: center;padding: 70px 0;}
.kpCardWrap .scanPay .text{display: block;font-size: 1.4rem;line-height: 30px;}
.kpCardWrap .cardNumber{line-height: 30px;text-align: center;font-size: 1.4rem;}
.kpCardWrap .cardInforBox{text-align: center;font-size: 1.4rem;display: block;}
.kpCardWrap .cardInforBox .cardImg{width:50%;height: auto;background: #fff;margin:20px 0;}
