/* Empty. Add your own CSS if you like */

.charInfo{
	margin: 40px auto;
	/* background: red; */
	text-align: center;
	width: 80%;
	height: 80%;
}
.chartext{
	text-align: left;
	margin-bottom: 30px;
	margin-left: 10px;
}
a:link{
text-decoration:none;
}
a:visited{
text-decoration:none;
}
a:hover{
text-decoration:none;
}
a:active{
text-decoration:none;
}
#tc{
  text-align:center;
  font-family: 华文楷体;
  font-size: 20px;
  padding: 20px;
}
#gx{
  text-align:center;
  font-family: 华文楷体;
  font-size: 20px;
  padding: 20px;
}
#about{
  text-align:center;
  font-family: 华文楷体;
  font-size: 20px;
  padding: 20px;
}
#cloud{
  text-align:center;
  padding: 20px;
}
#fh{
  text-align:center;
  font-family: 华文楷体;
  font-size: 20px;
  padding: 20px;
}
.powerbutton >input{
	font-family: 宋体;
}

.fontstyle{
	text-align:center;
	 bottom: 0px;
}

.char_style{
	height: 120px;
	padding: 0px;
	margin: 0px;
}
.list > label{
  display: flex;
}
.list > label >input{
  width: 60%;
}
