/* Empty. Add your own CSS if you like */

.charInfo{
  padding-top:20px;
	margin: 4px auto;
	/* background: red; */
	text-align: center;
	width: 100%;
	height: 100%;
  background: url('../img/bg1_2.jpg') no-repeat;
}
.charInfoPayment{
  padding-top:20px;
  margin: 4px auto;
  /* background: red; */
  text-align: center;
  width: 100%;
  height: 100%;
  background: url('../img/bg1.jpg') no-repeat;
}
.charInfos{
  padding-top:40px;
  margin: 6px auto;
  /* background: red; */
  width: 100%;
  height: 100%;
  background: url('../img/bg16.jpg') no-repeat;
  text-align: center;
  font-size: 20px;

}
.cardinputInfo{
	margin: 30px auto;
	/* background: red; */
	text-align: center;
	width: 90%;
	height: 90%;
}

.cardinputInfos{
  margin: 30px auto;
  /* background: red; */
  text-align: center;
  width: 100%;
  height: 100%;
  background:  url('../img/bg10.jpg') no-repeat;
}
#accreditBackground{
  background:  url('../img/bg16.jpg') no-repeat;
  width: 100%;
  height: 100%;
}

#sellCard{
  padding-top:40px;
}

.al{
  filter:alpha(opacity=70);  -moz-opacity:0.7;  -khtml-opacity: 0.7;  opacity: 0.7;
  background:  url('../img/bg1_2.jpg') no-repeat;
}
.paymentTitle{
  padding: 30px 0px 20px 0px;
  font-size: 20px;
  filter:alpha(opacity=70);  -moz-opacity:0.7;  -khtml-opacity: 0.7;  opacity: 0.7;
}
.chartext{
  font-size: 20px;
	text-align: left;
	margin-bottom: 30px;
	margin-left: 10px;
}
.chartextPayment{
  font-size: 20px;
	text-align: left;
	margin-bottom: 20px;
	margin-left: 6px;
  margin-top: 15px;

}

.stime{
  font-size: 16px;
  padding: 7px 10px 7px 35px;
}
#stype{
  font-size: 16px;
  color: blue;
}
.dy{
  padding-right: 18px;

}
#other{
	text-align: right;
  float: right;
  font-size: 14px;
  margin: 20px auto;
}
a:link{
text-decoration:none;
}
a:visited{
text-decoration:none;
}
a:hover{
text-decoration:none;
}
a:active{
text-decoration:none;
}
#tc{
  text-align:center;
  font-family: 华文楷体;
  font-size: 20px;
  padding: 20px;
}
#gx{
  text-align:center;
  font-family: 华文楷体;
  font-size: 20px;
  padding: 20px;
}
#about{
  text-align:center;
  font-family: 华文楷体;
  font-size: 20px;
  padding: 20px;
}
#cloud{
  text-align:center;
  padding: 20px;
}
#fh{
  text-align:center;
  font-family: 华文楷体;
  font-size: 20px;
  padding: 20px;
}
#shouquan{
  text-align:center;
  font-family: 华文楷体;
  font-size: 18px;

}
.powerbutton >input{
	font-family: 宋体;
}



.char_style{
	height: 120px;
	padding: 0px;
	margin: 0px;
}
.list > label{
  display: flex;
}
.list > label >input{
  width: 60%;
}

.cardCloud{
  background: url('../img/cardCloud.png') no-repeat -30px center;height:110px;
}
.moeny1{
  width:100%;
  height:40px;  /*设置div的大小*/
  background: url('../img/timg2.jpg');
  text-align: center;        /*文字水平居中对齐*/
  line-height: 40px;        /*设置文字行距等于div的高度*/
  overflow:hidden;
}
#moeny1{
  padding: 10px;
  width:100%;
  height:60px;  /*设置div的大小*/
  background: url('../img/timg2.jpg');
  text-align: center;        /*文字水平居中对齐*/
  overflow:hidden;
}

#identifyCode{
  width: 46%;
display: inline-block
}
#codebtn{
  float: right;
}

#amountType{
  width: 200px;
  color: darkgrey;
}
#zd{
height: 20px;
}
#zandan{
  height: 20px;
  float: right;
}


.item .badge{
  top: 26px;
}

.badge{
  font-size:18px!important;
  font-weight:400;
  padding:3px 6px 22px 6px;
}

.item-content.disable-pointer-events{
  padding-right: 40px;
}

.prompt{
  color: red;
  font-size: 80px;
}

#find{
 width: 100%;
}

#fukuan{
  padding-left:22%;
}
#scan{
  padding-left:22%;
}
td{
  padding-left: 40px;
}

#zongxiaofei{
  padding-left: 3%;
}
#zongchongzhi{
  padding-left: 3%;
}
#kaxiaofei{
  padding-left: 3%;
}
#kachongzhi{
  padding-left: 3%;
}
#mybill{
  padding-left: 10px;
  width: 100%;
}
#monthBill{
  padding-left: 70%;
}
.all{
  padding-left: 10%;
}
#shopAll{
  padding-left: 12%;
}
#buycard{
  padding: 8%;
}
.slist{
  height: 12%;
}
.shoplist {
  position: relative;
  padding-top: 8%;
  padding-bottom: 1px;
  padding-left: 0;
  margin-bottom: 20px;
}

.search{
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding: 20px;
  width: 100%;
}

#inputSearch{
 height: 35px;
  margin: 0;
  font: inherit;
  color: darkgrey;
  padding-bottom: 0px;
}
.sbutton{
  margin: 0;
  font: inherit;
  color: darkgrey;
}
#zsearch{
 display: inline-flex;
  height: 35px;
}
