<ion-view view-title="结算首页">
  <ion-nav-bar class="bar-positive"></ion-nav-bar>
  <ion-nav-buttons side="left">
    <a class="button icon ion-ios-undo" ui-sref="tab.dash"></a>
  </ion-nav-buttons>
  <ion-header-bar class="bar-subheader has-header">

  <span >
  您正在进行结算操作>>>
  </span>

  </ion-header-bar>
  <ion-content class="padding content has-header ionic-pseudo" style="padding: 0px;margin: 0px">
    <ion-list>
      <ion-item item="item"   class="item-remove-animate" href="#tab/jiesuanDetail">
        E咖啡店：<span style="color: red"> 320元</span>
      <span style="float: right"> <button style="padding: 0px 20px 0px 20px" class="button button-small button-calm">确认清算</button></span>
      </ion-item>
      <ion-item item="item"  class="item-remove-animate" href="#tab/jiesuanDetail">
        大庆包子店：<span style="color: red"> 520元</span>
      <span style="float: right"> <button style="padding: 0px 20px 0px 20px" class="button button-small button-calm">确认清算</button></span>
      </ion-item>

    </ion-list>
</ion-view>
