<ion-view view-title="结算模式">
  <ion-nav-bar class="bar-positive"></ion-nav-bar>
  <ion-nav-buttons side="left">
    <a class="button icon ion-ios-undo" ui-sref="tab.dash"></a>
  </ion-nav-buttons>
  <ion-header-bar class="bar-subheader has-header skmehtod">
    <!--<div id="jsmothod">-->
       <!--<span id="shoukuan">-->
      <!--<button class="button button-large button-calm" ng-click="paymentCode()">收款结算</button>-->
     <!--</span>-->
    <!--<span id="fukuan">-->
      <!--<button class="button button-calm" ng-click="fukuanJieSuan()" >付款结算</button>-->
    <!--</span>-->
    <!--</div>-->
    <div style="padding-left: 20px">
         <span style="float: left">
       <label class="widget-buttons">
         <ion-radio class="calm"  ng-model="payment"  ng-click="paymentCode()" ng-checked="checked" required>收款结算
         </ion-radio>
       </label>
      </span>
         <span style="float: left">
       <label class="widget-buttons">
         <ion-radio class="calm"   ng-click="fukuanJieSuan()">付款结算
         </ion-radio>
       </label>
      </span>
    </div>

  </ion-header-bar>
  <ion-content class="padding content has-header ionic-pseudo" style="padding: 0px;margin: 0px">
    <ion-list>
      <ion-item item="item"   class="item-remove-animate" >
        结算模式：手工模式
      </ion-item>
      <div class="list">
        <ion-item item="item" >
          <ion-checkbox ng-model="quanxuan" ng-click="selectAll(jiesuanList,quanxuan)" >全选/全不选</ion-checkbox>
          <ion-checkbox name="selected"  ng-repeat="jlist in jiesuanList" ng-checked="jlist.checked"   ng-model="jlist.checked">
           {{jlist.cardSellerName}}：<span style="color: red"> {{jlist.amount}} 元</span>
          </ion-checkbox>
        </ion-item>
      </div>
    </ion-list>
  </ion-content>

  <ion-footer-bar class="has-subfooter stable-bg">

    <div class="buttons" style="padding: 0px 10px 0px 10px">
      <button class="button button-balanced" disabled="disabled"  ng-click="tousu(jiesuanList)"> 投 诉 </button>
    </div>

    <div class="buttons" style="padding: 0px 10px 0px 40px" ng="in">
      <button class="button button-assertive" id="faqi"  ng-click="qingsuanRequest(jiesuanList)"> 发起结算请求 </button>
    </div>
    <div class="buttons" style="padding: 0px 10px 0px 40px" ng="in">
      <button class="button button-calm" id="qr"  ng-click="qingsuanConfirm(jiesuanList)"> 确认清算 </button>
    </div>
  </ion-footer-bar>
</ion-view>
