<ion-view view-title="付款结算">
  <ion-nav-bar class="bar-positive"></ion-nav-bar>
  <ion-nav-buttons side="left">
    <a class="button icon ion-ios-undo" ui-sref="tab.jiesuanMethod"></a>
  </ion-nav-buttons>
  <ion-content class="padding content has-header ionic-pseudo" style="padding: 0px;margin: 0px">
    <ion-list>
      <ion-item item="item"   class="item-remove-animate" >
        结算模式：
        <select id="amountType" ng-change="change(amountType)"  ng-model="amountType">-->
          <option value="1" ng-selected="true">手工模式</option>
          <option value="2">自动模式</option>
        </select>
        <button class="button button-small button-balanced" ng-show="show=='2'" ng-click="setTime(jiesuanList);">设置时间</button>
        <!--<label class="widget-buttons">-->
        <!--<ion-radio class="calm" ng-repeat="item in items" ng-model="ret.choice" ng-change="change(ret.choice)" ng-value="item.text">{{item.value}}</ion-radio>-->
        <!--</label>     -->
      </ion-item>
      <div class="list">
        <ion-item item="item" >
          <ion-checkbox ng-model="quanxuan" ng-show="show=='1'" ng-click="selectAll(jiesuanList,quanxuan)" >全选/全不选</ion-checkbox>
          <ion-checkbox name="selected"  ng-repeat="jlist in jiesuanList" ng-checked="jlist.checked"   ng-model="jlist.checked">
            {{jlist.tradePartyName}}：<span style="color: red"> {{jlist.amount}} 元</span>
          </ion-checkbox>
        </ion-item>
      </div>
    </ion-list>
  </ion-content>

  <ion-footer-bar class="has-subfooter stable-bg" style="height:60px;display: inline">
       <span class="buttons" >
      <!--<button class="button button-block button-balanced"  ng-click="qingsuan(jiesuanList)" >清算</button>-->
        <a class="button button-block button-balanced" id="qs" ng-show="show=='1'"  ng-click="qingsuan(jiesuanList)">清 算</a>
    </span>
  </ion-footer-bar>
</ion-view>
