<ion-view view-title="开卡／充值">
  <ion-nav-bar class="bar-positive"></ion-nav-bar>
  <ion-nav-buttons side="left">
    <a class="button icon ion-ios-undo" ui-sref="tab.dash"></a>
  </ion-nav-buttons>

  <ion-content class="padding content has-header ionic-pseudo" style="padding: 0px;margin: 0px">
    <div class="list list-borderless">
      <div class="item item-image">
        <img src="img/paris.jpg">
      </div>
    </div>
    <div ng-controller="RechargeExampleController">
      <a class="button button-block button-balanced"   ng-click="scanBarcode()">扫码充值</a>
    </div>
    <div>
      <a class="button button-block button-balanced" href="#/tab/phoneNumberRecord">无卡手机号开卡／充值</a>
    </div>
  </ion-content>
</ion-view>
