<ion-view view-title="申请商家">
  <ion-nav-bar class="bar-dark"></ion-nav-bar>
  <ion-nav-buttons side="left">
    <a class="button icon ion-ios-undo" ui-sref="login"></a>
  </ion-nav-buttons>
  <ion-content>
    <form name="regForm" ng-submit="applySeller()" ng-controller="registerCtrl">
      <div class="list card">
        <label class="item item-input item-stacked-label">
          <span class="input-label">电话号码：</span>
          <input type="tel" name="phone" ng-model="boss.phone" placeholder="请输入电话号码" required/>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">商铺名称：</span>
          <input type="text" name="businessName" ng-model="boss.businessName" placeholder="请输入店铺名称" required/>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">店主姓名：</span>
          <input type="text" name="businessUserName" ng-model="boss.businessUserName" placeholder="请输入店主姓名" required/>
        </label>
        <div class="regForm codeInput">
          <input type="tel" class="regInput" placeholder="请输入开店验证码" name="identifyCode" ng-model="boss.identifyCode" required/>
          <input type="button" class="codeTxt" ng-value="codeBtn" ng-click="getCreateStoreCode(boss.phone)" ng-disabled="codeBtnDisable || regForm.phone.$error.required " value="获取验证码"/>
        </div>
        <div class="regVaildMsg">
          <span style="color:red" ng-show="regForm.businessName.$dirty && regForm.businessName.$invalid"/>
          <span ng-show="regForm.businessName.$error.required">店铺名称不能为空。</span>
        </div>
        <div class="regVaildMsg">
          <span style="color:red" ng-show="regForm.phone.$dirty && regForm.phone.$invalid"/>
          <span ng-show="regForm.phone.$error.required">电话号码不能为空。</span>
        </div>
        <div class="regVaildMsg">
          <span style="color:red" ng-show="regForm.businessUserName.$dirty && regForm.businessUserName.$invalid"/>
          <span ng-show="regForm.businessUserName.$error.required">店主姓名不能为空。</span>
        </div>
        <div class="regVaildMsg">
          <span style="color:red" ng-show="regForm.identifyCode.$dirty && regForm.identifyCode.$invalid"/>
          <span ng-show="regForm.identifyCode.$error.required">验证码不能为空。</span>
        </div>
        <div class="padding">
          <button class="button button-block button-positive" ng-disabled="regForm.businessName.$error.required || regForm.phone.$error.required || regForm.businessUserName.$error.required || regForm.identifyCode.$error.required" type="submit">确认申请</button>
        </div>
        <span ng-bind="regVaildMsg" style="width:300px;display: block;text-align: center;font-weight: bold;color: red;"></span>
      </div>
    </form>
  </ion-content>
</ion-view>
