<ion-view view-title="申请商家">
  <ion-nav-bar class="bar-dark"></ion-nav-bar>
  <ion-nav-buttons side="left">
    <a class="button icon ion-ios-undo" ui-sref="login"></a>
  </ion-nav-buttons>
  <ion-content>
    <form name="regForm" ng-submit="applySeller()">
    <div class="list">
      <label class="item item-input">
        <span class="input-label">商铺名称：</span>
        <input type="text" placeholder="请输入店铺名称">
      </label>
      <label class="item item-input">
        <span class="input-label">电话号码：</span>
        <input type="text" placeholder="请输入电话号码">
      </label>
      <label class="item item-input item-button-right">
        <span class="input-label">营业执照：</span>
        <input type="text" placeholder="请输入营业执照号码">
      </label>

      <label class="item item-input">
        <span class="input-label">支付方式：</span>
        <span>{{ret.choice}}</span>
      </label>

      <label class="item margin-bottom-10 margin-top-0 text-center" style="border: 0px">
              <ion-radio class="balanced" ng-model="ret.choice" ng-value="alipay">
                支付宝
              </ion-radio>
              <ion-radio class="balanced" ng-model="ret.choice" ng-value="bankCard">
                银行卡
              </ion-radio>
              <ion-radio class="balanced" ng-model="ret.choice" ng-value="weiXin">
                微信
              </ion-radio>

      </label>
    </div>
    <div class="padding">
      <button class="button button-block button-positive">确认申请</button>
    </div>
    <span ng-bind="msg" style="width:300px;display: block;text-align: center;font-weight: bold;color: red;"></span>
    </form>
  </ion-content>
</ion-view>
