<ion-view title="登录" hide-back-button="true">
  <ion-content>
    <form name="loginForm" ng-submit="cloudCardLogin()" ng-controller="login">
      <div class="loginContent">
        <img class="logoImg" src="img/logo.png">
        <div class="loginForm">
          <input type="number" class="loginInput" placeholder="手机号" name="tel" ng-model="user.tel" required/>
        </div>
        <div class="loginForm codeInput">
          <input type="number" class="loginInput" placeholder="验证码" name="identifyCode" ng-model="user.identifyCode" required/>
          <input type="button" class="codeTxt" ng-value="codeBtn" ng-click="getIdentifyCode(user.tel)" ng-disabled="codeBtnDisable" value="获取验证码"/>
        </div>
        <div class="loginVaildMsg">
          <span style="color:red" ng-show="loginForm.tel.$dirty && loginForm.tel.$invalid"/>
          <span ng-show="loginForm.tel.$error.required">手机号码不能为空。</span>
        </div>
        <div class="loginVaildMsg">
          <span style="color:red" ng-show="loginForm.identifyCode.$dirty && loginForm.identifyCode.$invalid"/>
          <span ng-show="loginForm.identifyCode.$error.required">验证码不能为空。</span>
        </div>
        <div>
          <span ng-bind="msg" class="loginErrMsg"></span>
        </div>
        <input type="submit" class="loginFormBtn" value="登录"/>
        <a ui-sref="applySeller" class="businessHref">申请商家</a>
      </div>
    </form>
  </ion-content>
</ion-view>
