<ion-view title="登录">
  <ion-content class="padding">
    <div class="login-container animated fadeInDown">
        <div class="loginbox bg-white">
            <div class="loginbox-title"></div>
            <div class="cardCloud"></div>
            <form name="loginForm" ng-submit="cloudCardLogin()" ng-controller="login">
              <div class="loginbox-textbox">
                  <input type="text" class="form-control" placeholder="手机号" style="" name="tel" ng-model="user.tel" required/>
              </div>
              <div class="loginbox-textbox">
                  <input type="text" class="form-control" style="width: 52%;display: inline-block;" placeholder="验证码" name="identifyCode" ng-model="user.identifyCode" required/>
                  <input type="button" class="btn btn-primary" style="float: right;" ng-value="codeBtn" ng-click="getIdentifyCode(user.tel)" ng-disabled="codeBtnDisable">
              </div>
              <div class="loginbox-submit">
                  <input type="submit" class="btn btn-primary btn-block" value="登 录" ng-disabled="loginForm.tel.$error.required || loginForm.identifyCode.$error.required">
              </div>
              <div ng-show="loginForm.tel.$error.required || loginForm.identifyCode.$error.required">
                <span style="width:300px;display: block;text-align: center;font-weight: bold;color: red;">请输入完整的信息！！</span>
              </div>
              <span ng-bind="msg" style="width:300px;display: block;text-align: center;font-weight: bold;color: red;"></span>
            </form>
        </div>
    </div>

  </ion-content>
</ion-view>
