<ion-view>
  <ion-content>
    <div class="dataEye" id="login">
      <div class="loginbox">
        <div class="logo-a">
          <a href="http://www.js-css.cn" title="云卡">
            <img src="resources/images/cardCloud.png">
          </a>
        </div>
        <div class="login-content">
          <div class="loginbox-title">
            <h3>登录</h3>
          </div>
          <form id="signupForm">
            <div class="login-error"></div>
            <div class="row">
              <input type="text" class="input-text-user input-click" name="email" id="email" placeholder="手机号"><button>获取手机验证码</button>
            </div>
            <div class="row">

              <input type="text" class="input-text-password input-click" name="yz" id="yz" placeholder="验证码">

            </div>
            <div class="row btnArea">
              <a class="login-btn" id="submit">登录</a>
            </div>

          </form>
        </div>

      </div>
    </div>

  </ion-content>
</ion-view>
