<ion-view view-title="账单">
  <ion-nav-bar class="bar-dark"></ion-nav-bar>
  <ion-content>
    <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>

    <div class="padding">
    	<!--<div id="moeny1" class="moeny1" style="height: 60%;width: 100%">已卖:<strong ng-bind="presellAmount"></strong>元</div>-->
    	<div style="height: 40%;text-align: center" class="money4">
        <span class="amount">总卖卡金额：</span><strong ng-bind="presellAmount"></strong>元<br>
        <span class="amount">跨店消费待结算金额：</span><strong ng-bind="settlementAmount"></strong>元<br>
        <span class="amount">卖卡额度：</span><strong ng-bind="limitAmount"></strong>元&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="amount"> 卖卡余额：</span><strong ng-bind="balance"></strong>元<br>
        <span class="amount">负债金额：</span><strong ng-bind="liabilities"></strong>元<br>
          <label class="widget-buttons">
            <ion-radio class="calm" ng-repeat="item in items" ng-model="ret.choice" ng-change="change(ret.choice)" ng-value="item.text">{{item.value}}</ion-radio>
          </label>
    	</div>
    </div>

    <div class="list">
      <ion-list>
      <ion-item class="item-icon-right" collection-repeat="chat in Chats">
          <!--<i class="badge bar-light badge-balanced">{{chat.typeDesc}} {{chat.type =='1'?'+ '+chat.amount:'- '+chat.amount}}</i>-->
          <i class="badge badge-balanced" ng-bind="chat.typeDesc =='充值'?'- '+chat.amount:'+ '+chat.amount"></i>
          <strong ng-bind="chat.customerName"></strong>
          <span ng-bind="chat.typeDesc=='充值'?'支出':'收款'"></span>
          <p>
            <span ng-bind="chat.transDate"></span>
          </p>
          <!--<i class="icon balanced" ng-bind="chat.type =='1'?'+'+chat.amount:'-'+chat.amount"></i>-->

      </ion-item>
    </ion-list>
    </div>
  </ion-content>
</ion-view>
