<ion-view view-title="邀请圈友" hide-back-button="true">
  <ion-nav-bar class="bar-dark"></ion-nav-bar>
  <ion-nav-buttons side="left">
    <a class="button icon ion-ios-undo" ui-sref="tab.createCircle"></a>
  </ion-nav-buttons>
  <ion-content>
    <div class="list">
      <ion-list>
        <ion-item>
            <div align="center">圈子名称：
              <strong ng-bind="circleName"></strong>
            </div>

          <div class="charInfoPayments">
            <div class="cardinputInfo">
              <form name="circleForm" ng-controller="circleListCtrl">
                <label class="item">
                  <span class="input-label" style="float: left;">电话：</span>
                  <input   class="form-control" type="text"	ng-model="telphone" name="telphone" id="telphone" style="width:150px" placeholder="请输入手机号"  required>
                </label>

                <!--<span ng-bind="msg" style="width:300px;display: block;text-align: center;font-weight: bold;color: red;">...</span>-->
                <div class="list" style="top: 20px;text-align: center;">
                  <button ng-click="sendCircle()"   class="button button-positive" style="width: 100%" ng-disabled="circleForm.telphone.$error.required">确定发送</button>
                </div>
              </form>
            </div>
          </div>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
