<ion-view view-title="充卡">
  <ion-nav-bar class="bar-positive"></ion-nav-bar>
  <ion-nav-buttons side="left">
    <a class="button icon ion-ios-undo" ui-sref="tab.dash"></a>
  </ion-nav-buttons>
	<ion-content class="">
		<div class="charInfo">
      <form name="rechargeForm">
        <div class="list">
          <label class="item">
            <span class="input-label" style="float: left;">卡名：</span>
            <strong ng-bind="cardName"></strong>
          </label>
          <label class="item">
            <span class="input-label" style="float: left;">余额：</span>
            <strong ng-bind="cardBalance"></strong>
          </label>
          <label class="item">
            <input ng-model="cardCode" type="hidden"/>
            <span class="input-label" style="float: left;">金额：</span>
            <strong>{{ret.choice}}元</strong>
          </label>
          <!--<label class="item">-->
            <!--<div class="row padding-left-50">-->
              <!--<div class="col-20">-->
                <!--<button class="button button-balanced" ng-click="recharge(100,cardCode,cardName,cardBalance)">100元</button>-->
              <!--</div>-->
              <!--<div class="col-offset-10"></div>-->
              <!--<div class="col-20">-->
                <!--<button class="button button-balanced" ng-click="recharge(200,cardCode,cardName,cardBalance)">200元</button>-->
              <!--</div>-->
              <!--<div class="col-offset-10"></div>-->
              <!--<div class="col-20">-->
                <!--<button class="button button-balanced" ng-click="recharge(300,cardCode,cardName,cardBalance)">300元</button>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="row padding-left-50 padding-top-10">-->
              <!--<div class="col-20">-->
                <!--<button class="button button-balanced" ng-click="recharge(500,cardCode,cardName,cardBalance)">500元</button>-->
              <!--</div>-->
            <!--</div>-->

          <!--</label>-->
          <label class="item">
              <ion-radio class="balanced fc-widget-content" ng-repeat="item in items" ng-model="ret.choice" ng-value="item">
                ￥{{item}} 元
              </ion-radio>
          </label>
          <label class="item">
            <span ng-bind="msg" style="width:300px;display: block;text-align: center;font-weight: bold;color: red;"></span>
            <button ng-click="recharge(ret.choice,cardCode,cardName,cardBalance)" class="button button-positive" style="width: 80%" ng-disabled="sub">确定</button>
          </label>

        </div>
      </form>
		</div>
	</ion-content>
</ion-view>
