<ion-view view-title="消费扫卡">
  <ion-nav-bar class="bar-dark">
    <!--<ion-nav-back-button class="button-clear">-->
      <!--<i class="icon ion-ios-undo"></i>返回-->
    <!--</ion-nav-back-button>-->
  <!--</ion-nav-bar>-->
  <ion-nav-buttons side="left">
    <a class="button icon ion-ios-undo" ui-sref="tab.dash"></a>
  </ion-nav-buttons>
	<ion-content class="padding">

      <form name="xiaoFeiSaoKaForm"  ng-controller="XiaofeExampleController">
        <div class="list list-inset">
          <label class="item item-input">
            <input type="number" class="form-control"	ng-model="amount" name="amount"  placeholder="请输入金额" required>
          </label>
        </div>
        <span ng-bind="msg" style="width:300px;display: block;text-align: center;font-weight: bold;color: red;">...</span>
        <div class="list" style="top: 20px;text-align: center;">
          <button id="xiaofefrom" ng-click="scanBarcode(amount)" class="button button-positive" style="width: 80%">开始扫卡</button>
        </div>
      </form>
	</ion-content>
</ion-view>
