<ion-view view-title="商业圈">
  <ion-nav-bar class="bar-dark"></ion-nav-bar>
  <ion-nav-buttons side="left">
    <a class="button icon ion-ios-undo" ui-sref="tab.myCircle"></a>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item class="item-icon-right item-avatar" href="#/tab/circleFriedDetail">
        <img src="img/weiXin.png">
        <h2>狗不理包子铺</h2>
        <p>2016-11-1 12:11:12</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="remove()">
          删  除
        </ion-option-button>
      </ion-item>
      <ion-item class="item-icon-right item-avatar" href="#/tab/circleFriedDetail">
        <img src="img/weiXin.png">
        <h2>张三凉面</h2>
        <p>2016-11-1 12:11:12</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="remove()">
          删  除
        </ion-option-button>
      </ion-item>
      <ion-item class="item-icon-right item-avatar" href="#/tab/circleFriedDetail">
        <img src="img/weiXin.png">
        <h2>老王炒老干妈盖饭</h2>
        <p>2016-11-1 12:11:12</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="remove()">
          删  除
        </ion-option-button>
      </ion-item>

    </ion-list>

  </ion-content>
</ion-view>
