<ion-view view-title="收款">
  <ion-nav-bar class="bar-positive"></ion-nav-bar>
  <ion-content >
	<div class="charInfo">
		<div class="showType" >收款成功</div>
	   <div class="list">
		  <label class="item item-input al">
		    <span class="input-label">卡号信息:</span>
		    <strong><span ng-bind="cardCode"></span></strong>
      </label>
		  <br>
		  <label class="item item-input al">
		    <span class="input-label">已收金额:</span>
        <strong><span ng-bind="amount"></span></strong>
      </label>
      <br>
		  <label class="item item-input al">
		    <span class="input-label">卡余额:</span>
        <strong><span ng-bind="cardBalance"></span></strong>
      </label>

		</div>
	  	<div class="powerbutton">
	  	<a href="#/tab/dash">
		  <button id="retrunDash"  class="button button-positive" style="width: 100%">返回</button>
		  </a>
	  	</div>
   </div>
  </ion-content>
</ion-view>
