<ion-view view-title="库胖商家">
  <ion-nav-bar class="bar-positive"></ion-nav-bar>
  <ion-content class="padding content has-header ionic-pseudo" style="padding: 0px;margin: 0px">
  <div class="padding">
  <div id="bshouye">
      <span id="sk">
      <a class="button button-calm buttonstyle" href="#/tab/shoukuanHome">收款</a>
    </span>
    <span id="kk">
      <a class="button button-calm buttonstyle"  href="#/tab/kaikaHome">开卡</a>
    </span>
    <span>
      <a class="button button-calm buttonstyle"  href="#/tab/chongzhiHome">充值</a>
    </span>

  </div>
    <!--<div>-->
      <!--<a class="button button-calm sk"  ng-click="scanCustomerBarcode()" ng-controller="scanShopReceivablesCtrl">收款</a>-->
    <!--</div>-->
    <!---->
    <!--<div>-->
      <!--<a class="button  button-calm" href="#/tab/phoneNumberConsume">无卡消费</a>-->
    <!--</div>-->
    <!--<div>-->
      <!--<a class="button button-block button-balanced" href="#/tab/phoneNumberRecord">无卡充值</a>-->
    <!--</div>-->
    <!--<div>-->
      <!--<a class="button button-block button-balanced" href="#/tab/phoneNumberActivate">无卡开卡</a>-->
    <!--</div>-->
    <!--<div ng-controller="RechargeExampleController">-->
      <!--<a class="button button-block button-balanced" ng-click="scanBarcode()">充值/开卡</a>-->
    <!--</div>-->

  </div>
    <ion-list>
      <ion-item ng-repeat="item in messageList"
                item="item"
                href="#/item/{{item.id}}" class="item-remove-animate">
      当前信息：<span style="color: red"> {{item.noteInfo}}</span>

        <ion-option-button class="button-calm"
                           ng-click="deleteMessage(item.noteId)" >
          删除
        </ion-option-button>
        <ion-option-button class="button-assertive"
                           ng-click="already(item.noteId)">
          已读
      </ion-item>
      <div class="item text-center" ng-if="messageList==''">
        <span style="color: red"> 当前信用良好，没有欠款信息</span>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
