<ion-view view-title="充值">
  <ion-nav-bar class="bar-dark"></ion-nav-bar>
  <ion-content >
	<div class="charInfo">
		<div class="showType" >充值成功</div>
		<span ng-model="moneyinfo"></span>
	   <div class="list">
		  <label class="item item-input al">
		      <span class="input-label">卡号信息:</span>
		      <strong><span ng-bind="cardCode"></span></strong>
		  </label>
		    <br>
      <label class="item item-input al">
		      <span class="input-label">卡名信息:</span>
          <strong><span ng-bind="cardName"></span></strong>
		  </label>
		  <br>
		  <label class="item item-input al">
          <span class="input-label">充值金额:</span>
          <strong><span ng-bind="money"></span></strong>
		  </label>
      <br>
		  <label class="item item-input al">
          <span class="input-label">总金额:</span>
          <strong><span ng-bind="amount"></span></strong>
		  </label>
		</div>
	  	<div class="powerbutton">
	  	<a href="#/tab/dash">
		  <button id="retrunDash"  class="button button-positive" style="width: 100%">返回</button>
		  </a>
	  	</div>
   </div>
  </ion-content>
</ion-view>
