
<ion-view view-title="设置">
  <ion-nav-bar class="bar-dark"></ion-nav-bar>
  <ion-nav-buttons side="left">
    <a class="button icon ion-ios-undo" ui-sref="tab.aboutMe"></a>
  </ion-nav-buttons>
  <ion-content>
    <div class="padding">
      <div class="list list-borderless">
        <div class="item item-image">
          <img src="img/cardCloud.png">
        </div>
      </div>
    </div>
    <div class="list">
      <div class="card">
        <div class="item item-text-wrap" ui-sref="tab.aboutUs">
          关于我们
        </div>
        <!--<div class="item item-text-wrap">用户反馈</div>-->
        <!--<div class="item item-text-wrap">-->
          <!--<span>版本更新</span>-->
          <!--<li class="badge assertive-bg light">NEW</li>-->
        <!--</div>-->
        <div class="item item-text-wrap" ui-sref="tab.aboutCloudCard">
          <span>关于云卡</span>
         </div>
      </div>
      <div class="padding">
        <button class="button button-block button-assertive" ng-click="exitLogin()">退出</button>
      </div>
    </div>
  </ion-content>
</ion-view>
