<ion-view view-title="库胖">
  <ion-nav-bar class="bar-dark"></ion-nav-bar>
  <ion-header-bar class="bar-subheader has-header">
  <span id="shoukuan">
      <button class="button button-large button-calm" >收 款</button>
     </span>
    <span id="kaika">
      <button class="button button-large button-calm"  >开 卡</button>
    </span>
    <span id="chongzhi">
      <button class="button button-large button-calm " >充 值</button>
    </span>
  </ion-header-bar>
  <ion-content class="padding content has-header ionic-pseudo" style="padding: 0px;margin: 0px">

  <div class="padding">
    <div class="list list-borderless">
      <div class="item item-image">
        <img src="img/paris.jpg">
      </div>
    </div>
    <div>
      <a class="button button-block button-balanced" href="#/tab/receivables">收款</a>
    </div>
    <div>
      <a class="button button-block button-balanced" href="#/tab/phoneNumberConsume">无卡消费</a>
    </div>
    <div ng-controller="RechargeExampleController">
      <a class="button button-block button-balanced" ng-click="scanBarcode()">充值/开卡</a>
    </div>

    <div class="row se">
      <div class="col">当前信息 :</div>
      <div class="col shop">库胖商家</div>

    </div>

  </div>

  </ion-content>
</ion-view>
