<ion-view view-title="开卡">
  <ion-content >
	<div class="charInfo">
		<div class="showType" >开卡成功</div>
		<span ng-model="moneyinfo"></span>
	   <div class="list">
		  <label class="item item-input al">
		    <span class="input-label">卡号信息:</span>
		    <!-- <input id="other_tel" type="text" readonly="ture" /> -->
		    			<span ng-bind="cardCode"></span>
		  </label>
		  <br>
      <label class="item item-input al">
		    <span class="input-label">卡名信息:</span>
		    <!-- <input id="other_tel" type="text" readonly="ture" /> -->
		    			<span ng-bind="cardName"></span>
		  </label>
		  <br>
		  <label class="item item-input al">
		    <span class="input-label">电话号码:</span>
		    <!-- <input id="other_tel" type="text" readonly="ture" /> -->
		    			<span ng-bind="kaInputPhone"></span>
		  </label>
		  <br>
		  <label class="item item-input al">
		    <span class="input-label">充值金额:</span>
			<span ng-bind="money"></span>
		    <!-- <input  size="20" type="text"  style="color:#ff0000;font-family:黑体;"> -->
		  </label>
		</div>
	  	<div class="powerbutton">
	  	<a href="#/tab/dash">
		  <button id="retrunDash"  class="button button-positive" style="width: 100%">返回</button>
		  </a>
	  	</div>
   </div>
  </ion-content>
</ion-view>
