<ion-view view-title="充卡">
  <ion-nav-bar class="bar-positive"></ion-nav-bar>
  <ion-nav-buttons side="left">
    <a class="button icon ion-ios-undo" ui-sref="tab.dash"></a>
  </ion-nav-buttons>
	<ion-content class="">
		<div>
      <form name="rechargeForm">
        <div class="list card">
          <label class="item">
            <span  style="float: left;padding-right: 5px">卡名：</span>
            <span ng-bind="cardName"></span>
          </label>
          <label class="item">
            <span  style="float: left;padding-right: 5px">余额：</span>
            <span ng-bind="cardBalance"></span>
          </label>
          <label class="item">
            <input ng-model="cardCode" type="hidden"/>
            <span  style="float: left;padding-right: 5px">充值：</span>
            <span>{{ret.choice}}元</span>
          </label>

          <label class="item margin-bottom-10 margin-top-0 text-center" style="border: 0px">
            <span class="widget-buttons">
              <ion-radio class="balanced" style="border: 1px solid limegreen;border-radius: 6px;margin: 5px 10px 5px 10px;" ng-model="ret.choice" ng-value="100">
                100元
              </ion-radio>
              <ion-radio class="balanced" style="border: 1px solid limegreen;border-radius: 6px;margin: 5px 10px 5px 10px;" ng-model="ret.choice" ng-value="200">
                200元
              </ion-radio>
              <br>
              <ion-radio class="balanced" style="border: 1px solid limegreen;border-radius: 6px;margin: 5px 10px 5px 10px;" ng-model="ret.choice" ng-value="300">
                300元
              </ion-radio>
              <ion-radio class="balanced" style="border: 1px solid limegreen;border-radius: 6px;margin: 5px 10px 5px 10px;" ng-model="ret.choice" ng-value="500">
                500元
              </ion-radio>
            </span>

          </label>
          <label class="item text-center">
            <span ng-bind="msg" style="width:300px;display: block;text-align: center;font-weight: bold;color: red;"></span>
            <button ng-click="recharge(ret.choice,cardCode,cardName,cardBalance)" class="button button-positive" style="width: 80%" ng-disabled="sub">确定</button>
          </label>

        </div>
      </form>
		</div>
	</ion-content>
</ion-view>
