<ion-view view-title="验证收款验证码">
  <ion-nav-bar class="bar-dark">
    <!--<ion-nav-back-button class="button-clear">-->
    <!--<i class="icon ion-ios-undo"></i>返回-->
    <!--</ion-nav-back-button>-->
    <!--</ion-nav-bar>-->
    <ion-nav-buttons side="left">
      <a class="button icon ion-ios-undo" ui-sref="tab.phoneNumberConsume"></a>
    </ion-nav-buttons>
    <ion-content class="padding">

      <form name="xiaoFeiSaoKaForm"  >

        <div class="list">
          <label class="item item-input item-stacked-label">
            <span class="input-label">验证码</span>
            <input type="number" type="text" placeholder="请输入验证码" >
          </label>
        </div>
        <div class="padding">
          <button class="button button-block button-positive">确认收款</button>
        </div>
      </form>
    </ion-content>
</ion-view>
