<ion-view view-title="开卡">
  <ion-nav-bar class="bar-positive"></ion-nav-bar>
  <ion-nav-buttons side="left">
    <a class="button icon ion-ios-undo" ui-sref="tab.dash"></a>
  </ion-nav-buttons>
	<ion-content>

		<div class=""><!--charInfo-->
      <form name="kaiKaForm">
        <div class="list card">
          <label class="item">
            <span  style="float: left;padding-right: 5px">店铺卡名：</span>
            <span ng-bind="cardName"></span>
          </label>
          <label class="item">
            <span style="float: left;padding-right: 5px" >电话号码：</span>
            <input type="text" id = "kaInputPhone" class="form-control" name="kaInputPhone"	ng-model="kaInputPhone" style="width:180px;"  placeholder="请输入电话号码" required>
          </label>
          <label class="item">
            <input ng-model="cardCode" type="hidden"/>
            <span  style="float: left;padding-right: 5px">预存金额：</span>
            <!--<input id="kaInputMoney" class="form-control" name="money" style="width:150px" ng-model="money"  placeholder="请输入金额" required>-->
            <span>{{ret.choice}}元</span>
          </label>
          <label class="item margin-bottom-10 margin-top-0 text-center" style="border: 0px">
            <!--<ion-radio class="balanced" ng-repeat="item in items" ng-model="ret.choice" ng-value="item">
              ￥{{item}} 元
            </ion-radio>-->
            <span class="widget-buttons">
              <ion-radio class="balanced" style="border: 1px solid limegreen;border-radius: 6px;margin: 5px 10px 5px 10px;" ng-model="ret.choice" ng-value="100">
                100元
              </ion-radio>
              <ion-radio class="balanced" style="border: 1px solid limegreen;border-radius: 6px;margin: 5px 10px 5px 10px;" ng-model="ret.choice" ng-value="200">
                200元
              </ion-radio>
              <br>
              <ion-radio class="balanced" style="border: 1px solid limegreen;border-radius: 6px;margin: 5px 10px 5px 10px;" ng-model="ret.choice" ng-value="300">
                300元
              </ion-radio>
              <ion-radio class="balanced" style="border: 1px solid limegreen;border-radius: 6px;margin: 5px 10px 5px 10px;" ng-model="ret.choice" ng-value="500">
                500元
              </ion-radio>
            </span>
          </label>
          <label class="item text-center">
            <span ng-bind="msg" style="width:300px;display: block;text-align: center;font-weight: bold;color: red;"></span>
            <button  class="button button-positive"  ng-click="activate(ret.choice,cardCode,kaInputPhone,cardName)" style="width: 80%" ng-disabled="sub">确定</button>
          </label>
        </div>
      </form>

			</div>
	</ion-content>
</ion-view>
