
<ion-view view-title="设置">
  <ion-content on-swipe-left="onSwipeLeft()">
    <ion-list >
      <ion-item  class="item-avatar">
        <h2>关于我们</h2>
      </ion-item>
      <ion-item class="item-avatar">
        <h2 class="rj-push-right">功能介绍</h2>
      </ion-item>
      <ion-item class="item-avatar">
        <h2 class="rj-push-right">帮助反馈</h2>
      </ion-item>
      <ion-item class="item-avatar">
        <h2 class="rj-push-right">版本更新</h2>
      </ion-item>
      <br/><br/>      <br/><br/>      <br/><br/>
      <ion-item class="item-avatar">
        <h2 class="rj-push-right" ng-click="outLogin()">退出</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
