<ion-view view-title="消费 ">
  <ion-nav-bar class="bar-dark"></ion-nav-bar>
  <ion-nav-buttons side="left">
    <a class="button icon ion-ios-undo" ui-sref="tab.dash"></a>
  </ion-nav-buttons>
	<ion-content class="">
		<div class="charInfo">
			<div class="topType">消费扫卡</div>

      <form name="xiaoFeiSaoKaForm"  ng-controller="XiaofeExampleController">
        <div class="list">
          <label class="item">
            <span class="input-label" style="float: left;">金额：</span>
            <input class="form-control"	ng-model="amount" name="amount" style="width:150px" placeholder="请输入金额" required>
          </label>
        </div>
        <span ng-bind="msg" style="width:300px;display: block;text-align: center;font-weight: bold;color: red;">...</span>
        <div class="list" style="top: 20px;text-align: center;">
          <button id="xiaofefrom" ng-click="scanBarcode(amount)" class="button button-positive" style="width: 80%" ng-disabled="save">确定</button>
        </div>
      </form>
		</div>
	</ion-content>
</ion-view>
