<ion-view view-title="消费详情">
  <ion-nav-bar class="bar-dark"></ion-nav-bar>
  <ion-nav-buttons side="left">
    <a class="button icon ion-ios-undo" ui-sref="tab.circleFriend"></a>
  </ion-nav-buttons>
  <ion-header-bar class="bar-subheader">
    <div class="buttons">
      <button class="button">￥总金额：666元</button>
    </div>
    <h1 class="title"></h1>
    <div class="buttons">
      <button class="button button-balanced"> 结 算 </button>
    </div>
  </ion-header-bar>
  <ion-content>

    <div class="list">

      <span class="item item-avatar">
        <img src="img/zhiFuBao.png">
        <h2>Venkman</h2>
        <p>2016-11-1 12:11:12</p>
        <i class="badge badge-calm">+ 10</i>
      </span>
      <span class="item item-avatar">
        <img src="img/zhiFuBao.png">
        <h2>Venkman</h2>
        <p>2016-11-1 12:11:12</p>
        <i class="badge badge-calm">+ 10</i>
      </span>
      <span class="item item-avatar">
        <img src="img/zhiFuBao.png">
        <h2>Venkman</h2>
        <p>2016-11-1 12:11:12</p>
        <i class="badge badge-calm">+ 10</i>
      </span>
      <span class="item item-avatar">
        <img src="img/zhiFuBao.png">
        <h2>Venkman</h2>
        <p>2016-11-1 12:11:12</p>
        <i class="badge badge-calm">+ 10</i>
      </span>
      <span class="item item-avatar">
        <img src="img/zhiFuBao.png">
        <h2>Venkman</h2>
        <p>2016-11-1 12:11:12</p>
        <i class="badge badge-calm">+ 10</i>
      </span>


    </div>

  </ion-content>
</ion-view>
