<ion-view view-title="验证收款验证码">
  <ion-nav-bar class="bar-dark">
    <!--<ion-nav-back-button class="button-clear">-->
    <!--<i class="icon ion-ios-undo"></i>返回-->
    <!--</ion-nav-back-button>-->
    <!--</ion-nav-bar>-->
    <ion-nav-buttons side="left">
      <a class="button icon ion-ios-undo" ui-sref="tab.phoneNumberConsume"></a>
    </ion-nav-buttons>
    <ion-content class="padding">

      <form name="xiaoFeiSaoKaForm" ng-submit="shouKuan();" ng-controller="identifyingCodeCtrl">
        <div style="font-size: 18px;color:red;padding: 10px 0px 20px 0px">您正在进行收款操作>>> </div>
        <div class="loginbox-textbox">
          收款验证码: <input class="form-control" type="number" style="width: 40%;display: inline-block;border:1px solid #B2B2B2" placeholder="验证码" name="identifyCode" ng-model="identifyCode" required/>
          <input type="button" class="btn btn-primary"  ng-value="codeBtn" ng-click="getPayIdentifyCode('{{teleNumber}}')" ng-disabled="codeBtnDisable">
        </div>
        <span ng-bind="msg" style="width:300px;display: block;text-align: center;font-weight: bold;color: red;"></span>
        <div class="padding">
          <button id="sk" class="button button-block button-positive" ng-disabled="xiaoFeiSaoKaForm.identifyCode.$error.required">确认收款</button>
        </div>
      </form>
    </ion-content>
</ion-view>
