<ion-view view-title="收款首页">
  <ion-nav-bar class="bar-positive"></ion-nav-bar>
  <ion-nav-buttons side="left">
    <a class="button icon ion-ios-undo" ui-sref="tab.dash"></a>
  </ion-nav-buttons>

  <ion-content class="padding content has-header ionic-pseudo" style="padding: 0px;margin: 0px">
    <div class="list list-borderless">
      <div class="item item-image">
        <img src="img/paris.jpg">
      </div>
    </div>
    <div>
      <a class="button button-block button-balanced"  ng-click="scanCustomerBarcode()" ng-controller="scanShopReceivablesCtrl">扫码收款</a>
    </div>
    <div>
      <a class="button button-block button-balanced"  href="#/tab/phoneNumberConsume">无卡手机号收款</a>
    </div>
  </ion-content>
</ion-view>
