<ion-view view-title="收款">
  <ion-nav-bar class="bar-dark">
    <!--<ion-nav-back-button class="button-clear">-->
      <!--<i class="icon ion-ios-undo"></i>返回-->
    <!--</ion-nav-back-button>-->
  <!--</ion-nav-bar>-->
  <ion-nav-buttons side="left">
    <a class="button icon ion-ios-undo" ui-sref="tab.dash"></a>
  </ion-nav-buttons>
	<ion-content class="padding">

      <!--<form name="xiaoFeiSaoKaForm" ng-click="pay()"  ng-controller="XiaofeExampleController">-->
      <form name="xiaoFeiSaoKaForm"   ng-controller="xiaoFeiCtrl" ng-init="discount=1;amount=0">
        <div style="font-size: 18px;color:red;padding: 10px 0px 20px 0px">您正在进行收款操作>>> </div>
        <!--<div class="list list-inset">-->
          <!--<label class="item item-input">-->
            <!--<input type="number" class="form-control"	ng-model="amount" name="amount"  placeholder="请输入金额" required>-->
          <!--</label>-->
        <!--</div>-->
        <label class="item item-input">
          <span class="input-label">收款金额</span>
          <input ng-model="amount"  ng-model="amount"  type="number">
        </label>
        <label class="item item-input">
          <span class="input-label">折扣</span>
          <input ng-model="discount" type="number">
        </label>
        <label class="item item-input">
          <div>实际收款金额：<span class="item-note">{{discount !=0? discount * amount: amount}}</span></div>
        </label>
        <span ng-bind="msg" style="width:300px;display: block;text-align: center;font-weight: bold;color: red;">...</span>
        <div class="list" style="top: 20px;text-align: center;">
          <button id="xiaofefrom" ng-click="pay(discount !=0? discount * amount: amount)" class="button button-positive" style="width: 100%">收款</button>
        </div>
      </form>
	</ion-content>
</ion-view>
