<ion-view view-title="账单">
  <ion-nav-bar class="bar-dark"></ion-nav-bar>
  <ion-header-bar class="bar-subheader has-header">
  <span id="dianlei">
      <button class="button button-large button-positive" ui-sref="tab.shopConsume">店内消费</button>
     </span>
    <span id="kalei">
      <button class="button button-large button-positive"  ui-sref="tab.cardConsume">卡内消费</button>
    </span>
    <span id="taren">
      <button class="button button-large button-positive "  ui-sref="tab.otherConsume" >他卡消费</button>
    </span>
  </ion-header-bar>

  <ion-content>
    <div>
      <div class="list">
        <div class="item item-divider">
          本月 <span style="padding-left: 55%"> 查看月账单>> </span>
        </div>
        <a class="item item-avatar" href="#" ng-repeat="bill in billList">
          <img src="img/zhiFuBao.png">
          <div>
            <span>{{bill.transDate |date:'M'}}</span>月
            <span>{{bill.transDate |date:'dd'}}</span>日
            <span style="padding-left: 18%">
                  {{bill.type=='1'?'+ '+bill.amount:'- '+bill.amount}}</span>
            <div><span>{{bill.transDate |date:'h:mm:ss'}}</span> <span style="padding-left: 20%" ng-bind="bill.storeName"></span></div>
          </div>
        </a>

        <div class="item item-divider">
          三月 <span style="padding-left: 55%"> 查看月账单>> </span>
        </div>

        <a class="item item-avatar" href="#" >
          <img src="img/bank.png">
          <div>
            <span>3月19日</span> <span style="padding-left: 15%">-200</span>
            <div>16:30 <span style="padding-left: 20%" >包子铺</span></div>
          </div>
        </a>

      </div>
    </div>
  </ion-content>
</ion-view>
