<ion-view view-title="我的账单">
  <ion-nav-bar class="bar-positive"></ion-nav-bar>
  <ion-nav-buttons side="left">
    <a class="button icon ion-ios-undo" ui-sref="tab.aboutMe"></a>
  </ion-nav-buttons>
  <ion-header-bar class="bar-subheader has-header">
  <div id="mybill">
    <span id="zongxiaofei">
      <button class="button button-large button-positive" ui-sref="tab.shopConsume">总消费</button>
     </span>
    <span id="zongchongzhi">
      <button class="button button-large button-positive"  ui-sref="tab.cardConsume">总充值</button>
    </span>
    <span id="kaxiaofei">
      <button class="button button-large button-positive "  ui-sref="tab.otherConsume" >卡内消费</button>
    </span>
    <span id="kachongzhi">
      <button class="button button-large button-positive "  ui-sref="tab.otherConsume" >卡内充值</button>
    </span>
  </div>
  </ion-header-bar>

  <ion-content>
    <!--<div class="list">-->

          <!--<div>本月 <span id="monthBill">查看月账单</span></div>-->
          <!--<div>-->
            <!--<table>-->
              <!--<Tr>-->
                <!--<Td>3月18日</Td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<Td>消费200元</Td>-->
              <!--</Tr>-->
              <!--<Tr>-->
                <!--<Td>16:47</Td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<Td>咖啡店</Td>-->
              <!--</Tr>-->
              <!--<Tr>-->
                <!--<Td>3月18日</Td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<Td>消费200元</Td>-->
              <!--</Tr>-->
              <!--<Tr>-->
                <!--<Td>16:47</Td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<Td>奶茶店</Td>-->
              <!--</Tr>-->
              <!--<Tr>-->
                <!--<Td>3月18日</Td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<Td>消费200元</Td>-->
              <!--</Tr>-->
              <!--<Tr>-->
                <!--<Td>16:47</Td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<td></td>-->
                <!--<Td>美甲店</Td>-->
              <!--</Tr>-->
            <!--</table>-->
          <!--</div>-->

    <!--</div>-->

    <div>
      <div class="list">
        <div class="item item-divider">
          本月 <span style="padding-left: 55%"> 查看月账单>> </span>
        </div>
        <a class="item item-avatar" href="#">
          <img src="img/adam.jpg">
          <div>
            <span>3月17日</span> <span style="padding-left: 15%">-200</span>
            <div>16:30 <span style="padding-left: 20%">咖啡店</span></div>
          </div>

        </a>

        <a class="item item-avatar" href="#">
          <img src="img/adam.jpg">
          <div>
            <span>3月17日</span> <span style="padding-left: 15%">-200</span>
            <div>16:30 <span style="padding-left: 20%">奶茶店</span></div>
          </div>

        </a>
        <a class="item item-avatar" href="#">
          <img src="img/adam.jpg">
          <div>
            <span>3月17日</span> <span style="padding-left: 15%">-200</span>
            <div>16:30 <span style="padding-left: 20%">美甲店</span></div>
          </div>

        </a>
        <div class="item item-divider">
          二月 <span style="padding-left: 55%"> 查看月账单>> </span>
        </div>

        <a class="item item-avatar" href="#">
          <img src="img/perry.png">
          <div>
            <span>3月19日</span> <span style="padding-left: 15%">-200</span>
            <div>16:30 <span style="padding-left: 20%">美甲店</span></div>
          </div>
        </a>

      </div>
    </div>
  </ion-content>
</ion-view>
