<ion-view view-title="我的账单">
  <ion-nav-bar class="bar-positive"></ion-nav-bar>
  <ion-nav-buttons side="left">
    <a class="button icon ion-ios-undo" ui-sref="tab.aboutMe"></a>
  </ion-nav-buttons>
  <ion-header-bar class="bar-subheader has-header">
  <div id="mybill">
    <span id="zongxiaofei">
      <button class="button button-large button-positive" ng-click="all(0)" >全部</button>
     </span>
    <span id="zongchongzhi">
      <button class="button button-large button-positive"  ng-click="zongRecharge(1)">总充值</button>
    </span>
    <span id="kaxiaofei">
      <button class="button button-large button-positive "  ng-click="zongConsume(2)" >总消费</button>
    </span>
    <!--<span id="kachongzhi">-->
      <!--<button class="button button-large button-positive "  ui-sref="tab.otherConsume" >卡内充值</button>-->
    <!--</span>-->
  </div>
  </ion-header-bar>

  <ion-content>
    <div>
      <div class="list">

        <a class="padding"  ng-repeat="(key,value) in list"  >
          <div class="chakanzhangdan" >
            {{key }}
          </div>

          <div class="item item-avatar" ng-repeat="bills in value">
            <img src="img/zhiFuBao.png">
            <span>{{bills.transDate |date:'M'}}</span>月
            <span>{{bills.transDate |date:'dd'}}</span>日
            <span style="padding-left: 18%">
                  {{bills.type=='1'?'+ '+bills.amount:'- '+bills.amount}}</span>
            <div><span>{{bills.transDate |date:'h:mm:ss'}}</span> <span style="padding-left: 20%" ng-bind="bills.storeName"></span></div>
          </div>
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
