<ion-view view-title="使用指南">
  <ion-nav-bar class="bar-positive"></ion-nav-bar>
  <ion-nav-buttons side="left">
    <a class="button icon ion-ios-undo" ui-sref="tab.aboutMe"></a>
  </ion-nav-buttons>
  <ion-content>
    <div class="list">

      <div class="item item-divider">
       1.如何付款
      </div>
      <span class="mycustomerservice" href="#">
        通过付款码或者扫一扫向店家付款，或者在卡包里面选择一张卡进行付款
      </span>
      <div class="item item-divider">
       2.如何买卡
      </div>
      <span class="mycustomerservice" href="#">
       线上通过库胖点查询店家点击店家进行开卡购卡，线下通过店家店铺进行开卡购卡
      </span>

      <div class="item item-divider">
        3.我的卡可进行什么业务
      </div>
      <span class="mycustomerservice" href="#">
      我的卡可进行充值，消费，转让等业务，具体操作可点击我的卡进行
      </span>





    </div>
  </ion-content>
</ion-view>
