<ion-view view-title="我的信息">
  <ion-nav-bar class="bar-positive"></ion-nav-bar>
  <ion-nav-buttons side="left">
    <a class="button icon ion-ios-undo" ui-sref="tab.aboutMe"></a>
  </ion-nav-buttons>
  <ion-content>
    <form name="regForm" ng-submit="applySeller()" >
      <div class="list card">
        <label class="item item-input item-stacked-label">
          <span class="input-label">姓名：</span>
          <input type="text" name="businessName" ng-model="customerName"  required>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">电话号码：</span>
          <input type="text" name="phone" ng-model="phone">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">地址：</span>
          <input type="text" name="address" ng-model="address" >
        </label>

        <div class="padding">
          <button class="button button-block button-positive" type="submit">更改信息</button>
        </div>

        <span ng-bind="msg" style="width:300px;display: block;text-align: center;font-weight: bold;color: red;"></span>
      </div>

    </form>
  </ion-content>
</ion-view>
