<ion-view view-title="我的钱包">
  <ion-nav-bar class="bar-positive"></ion-nav-bar>
  <ion-nav-buttons side="left">
    <a class="button icon ion-ios-undo" ui-sref="tab.aboutMe"></a>
  </ion-nav-buttons>
  <ion-content>
    <div class="list">
      <div class="item item-divider" style="min-height:11px"></div>
      <a class="item item-avatar">
        <img src="img/adam.jpg">
        <h2>库胖</h2>
        <p>一个属于消费者的平台...</p>
      </a>

      <div class="item item-divider" style="min-height:11px"></div>

      <a class="item item-icon-left item-icon-right" >
        <!--<a class="item item-icon-left item-icon-right" href="#tab/goShop">-->
        <i class="icon ion-card positive"></i>
        绑定银行卡
        <i class="icon ion-ios-arrow-right" style="color:darkgrey;"></i>
      </a>
      <a class="item item-icon-left item-icon-right" >
        <!--<a class="item item-icon-left item-icon-right" href="#tab/goShop">-->
        <i class="icon ion-social-yen-outline positive"></i>
        总资产：200 元
        <i class="icon ion-ios-arrow-right" style="color:darkgrey;"></i>
      </a>

      <div class="item item-divider" style="min-height:11px"></div>
      <div>卡内资金:
        <table>
          <tr>
            <Td>咖啡店的库胖卡</Td>
            <Td>120元</Td>
          </tr>
          <tr>
            <Td>奶茶店的库胖卡</Td>
            <Td>20元</Td>
          </tr>
          <tr>
            <Td>美甲店库胖卡</Td>
            <Td>60元</Td>
          </tr>
        </table>
      </div>

      <div class="item item-divider" style="min-height:11px"></div>

      <a class="item item-icon-left item-icon-right" >
        <!--<a class="item item-icon-left item-icon-right" href="#tab/goShop">-->
        <i class="icon ion-happy-outline positive"></i>
        积分
        <i class="icon ion-ios-arrow-right" style="color:darkgrey;"></i>
      </a>
      <a class="item item-icon-left item-icon-right" >
        <!--<a class="item item-icon-left item-icon-right" href="#tab/goShop">-->
        <i class="icon ion-log-out positive"></i>
        充值
        <i class="icon ion-ios-arrow-right" style="color:darkgrey;"></i>
      </a>






    </div>
  </ion-content>
</ion-view>
