<ion-view view-title="账单">
  <ion-nav-bar class="bar-dark"></ion-nav-bar>
  <ion-nav-buttons side="left" >
    <a class="button icon ion-ios-undo" ng-click="$ionicGoBack()"></a>
  </ion-nav-buttons>
  <ion-content>
    <div class="list">
      <ion-list>
        <span class="item item-avatar">
          <img src="img/zhiFuBao.png">
          <h2>Venkman</h2>
          <p>2016-11-1 12:11:12</p>
          <i class="badge badge-calm">+ 10</i>
        </span>
        <span class="item item-avatar">
          <img src="img/zhiFuBao.png">
          <h2>Venkman</h2>
          <p>2016-11-1 12:11:12</p>
          <i class="badge badge-calm">+ 10</i>
        </span>
        <span class="item item-avatar">
          <img src="img/zhiFuBao.png">
          <h2>Venkman</h2>
          <p>2016-11-1 12:11:12</p>
          <i class="badge badge-calm">+ 10</i>
        </span>
        <span class="item item-avatar">
          <img src="img/zhiFuBao.png">
          <h2>Venkman</h2>
          <p>2016-11-1 12:11:12</p>
          <i class="badge badge-calm">+ 10</i>
        </span>

      </ion-list>
    </div>
  </ion-content>
</ion-view>

