<ion-view view-title="圈友详情">
  <ion-nav-bar class="bar-dark"></ion-nav-bar>
  <ion-nav-buttons side="left" >
    <a class="button icon ion-ios-undo" ng-click="$ionicGoBack()"></a>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a class="button icon-left" ui-sref="tab.circeAccount">
      <i class="icon ion-ios-paper-outline"></i> 账单
    </a>
  </ion-nav-buttons>

  <ion-content>
    <!--<span class="circlebg"></span>-->
    <div class="list">
      <div class="item item-image">
        <img src="{{storeImg}}"/>
      </div>
      <div class="item item-text-wrap">
        <strong style="color: red;font-size: 20px" ng-bind="storeName"></strong>
        <div>
          <div style="padding-top: 10px"><i class="icon ion-ios-telephone positive"></i> <span ng-bind="storeTeleNumber"></span></div>
          <div style="padding-top: 10px"><i class="icon ion-ios-location positive"></i> <span ng-bind="storeAddress"></span></div>
        </div>
      </div>

      <!--
       isGroupOwner         当前登录人是不是圈主
       isGroupOwners        点击查看的这个圈友是不是圈主
       organizationPartyId  当前登录商家ID
       storeId              点击查看的这个圈友id

      1、圈主所有人的圈子都能退出、和冻结（自己的不行）
      2、圈友没有冻结权限，退只能退自己的。
      -->
      <div class="item" ng-show="!(isGroupOwner == 'Y' && organizationPartyId == storeId)">
        <span ng-show="isGroupOwner == 'Y'">
          <button class="button button-positive" ng-hide="isFrozen == 'Y'"  style="width: 49%" ng-click="bizFreezeGroupPartner(storeId)">
            冻结
          </button>
        </span>
        <span ng-show="isGroupOwner == 'Y'">
          <button class="button button-positive" ng-hide="isFrozen == 'N'"  style="width: 49%" ng-click="bizFreezeGroupPartner(storeId)">
            解冻
          </button>
        </span>
        <button ng-show="isGroupOwner == 'Y' || organizationPartyId == storeId" ng-class="isGroupOwner=='Y'?'button button-positive':'button button-positive button-block'" ng-style="myObj"  ng-click="bizExitGroup()">
          退出圈子
        </button>
      </div>
    </div>

  </ion-content>
  <ion-footer-bar class="has-subfooter stable-bg" ng-show="isGroupOwner != isGroupOwners && isGroupOwner=='Y'">
    <span style="padding: 10px">
      <span style="font-size: 20px;">清算金额:</span>
      <strong style="color: red;font-size: 20px;padding: 10px"> ￥<span ng-bind="settlementAmount"></span></strong>
    </span>
    <h1 class="title">
    </h1>
    <div class="buttons">
      <!--<button class="button button-assertive" ng-click="openSettle()" ng-hide="settlementAmount==0"> 结 算 </button>-->
      <button class="button button-assertive" ng-click="openSettle(settlementAmount)"> 结 算 </button>
    </div>
  </ion-footer-bar>
</ion-view>
