<ion-view view-title="圈友详情">
  <ion-nav-bar class="bar-dark"></ion-nav-bar>
  <ion-nav-buttons side="left" >
    <a class="button icon ion-ios-undo" ng-click="$ionicGoBack()"></a>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a class="button icon-left" ui-sref="tab.circeAccount">
      <i class="icon ion-ios-paper-outline"></i> 账单
    </a>
  </ion-nav-buttons>

  <ion-content>
    <!--<span class="circlebg"></span>-->
    <div class="list">
      <div class="item item-image">
        <img src="img/s-1.jpg"/>
      </div>
      <div class="item item-text-wrap">
        <strong style="color: red;font-size: 20px">老王抠脚店</strong>
        <div>
          <div style="padding-top: 10px"><i class="icon ion-ios-telephone positive"></i> 18776256255</div>
          <div style="padding-top: 10px"><i class="icon ion-ios-location positive"></i> 上海市长宁区东华垃圾收集厂1000号</div>
        </div>
      </div>

      <div class="item">
        <button class="button button-positive" style="width: 49%">
          冻结
        </button>
        <button class="button button-positive" style="width: 49%">
          退出圈子
        </button>
      </div>
    </div>


  </ion-content>
  <ion-footer-bar class="has-subfooter stable-bg" >
    <span style="padding: 10px">
      <span style="font-size: 20px;">清算金额:</span>
      <strong style="color: red;font-size: 20px;padding: 10px"> ￥12.00</strong>
    </span>
    <h1 class="title">
    </h1>
    <div class="buttons">
      <button class="button button-assertive" style="width: 100px" ng-click="openSettle()"> 结 算 </button>
    </div>
  </ion-footer-bar>
</ion-view>
