<ion-view view-title="邀请圈友" hide-back-button="true">
  <ion-nav-bar class="bar-dark"></ion-nav-bar>
  <ion-nav-buttons side="left">
    <a class="button icon ion-ios-undo" ng-click="$ionicGoBack()"></a>
  </ion-nav-buttons>
  <ion-content>

    <div class="list">
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input ng-model="tel" type="text" placeholder="手机号码">
        </label>

        <button class="button button-small button-calm">
          通讯录
        </button>
      </div>
    </div>
    <div class="padding">
      <button class="button button-block button-positive" ng-click="invitationGroup(tel)">确定</button>
    </div>
  </ion-content>
</ion-view>
