<ion-view view-title="">
  <ion-nav-bar class="bar-dark"></ion-nav-bar>
  <ion-nav-buttons side="left">
    <a class="button icon ion-ios-undo" ng-click="$ionicGoBack()"></a>
  </ion-nav-buttons>
  <ion-content class="padding">
    <div class="list">
      <div class="item padding-50">
        <div style="text-align: center;">
          <img src="img/success.gif"><div class="padding"><strong>创建成功</strong></div>
        </div>
      </div>
      <a class="button button-block button-positive" ui-sref="tab.circleInvitation">去邀请好友</a>
    </div>


  </ion-content>
</ion-view>

