<ion-view view-title="创建我的圈子">
  <ion-nav-bar class="bar-dark"></ion-nav-bar>
  <ion-nav-buttons side="left">
    <a class="button icon ion-ios-undo" ng-click="$ionicGoBack()"></a>
  </ion-nav-buttons>
  <ion-content class="padding">
    <!--<div class="charInfoPayment">-->
      <!--<div class="cardinputInfo">-->
        <!--<form name="circleForm">-->
          <!--<label class="item">-->
            <!--<span class="input-label" style="float: left;">圈名：</span>-->
            <!--<input   class="form-control" type="text"	ng-model="circleName" name="circleName" id="circleName" style="width:150px" placeholder="请输入名称"  required>-->
          <!--</label>-->

          <!--&lt;!&ndash;<span ng-bind="msg" style="width:300px;display: block;text-align: center;font-weight: bold;color: red;">...</span>&ndash;&gt;-->
          <!--<div class="list" style="top: 20px;text-align: center;">-->
            <!--<button ng-click="createMyCircle()"   class="button button-positive" style="width: 100%" ng-disabled="circleForm.circleName.$error.required">确定</button>-->
          <!--</div>-->
        <!--</form>-->
      <!--</div>-->
    <!--</div>-->
    <div class="list">
      <label class="item item-input">
        <span class="input-label">圈主名称</span>
        <input ng-model="newUser.groupName" type="text">
      </label>
      <!--<label class="item item-input">-->
        <!--<span class="input-label">折扣信息</span>-->
        <!--<input ng-model="newUser.lastName" type="text">-->
      <!--</label>-->
    </div>
    <div class="padding">
      <button class="button button-block button-positive" ng-click="createGroup(newUser.groupName)">确定</button>
    </div>
  </ion-content>
</ion-view>
