<ion-view view-title="邀请好友">
  <ion-nav-bar class="bar-dark"></ion-nav-bar>
  <ion-nav-buttons side="left">
    <a class="button icon ion-ios-undo" ng-click="$ionicGoBack()"></a>
  </ion-nav-buttons>
  <ion-content class="padding">
    <div class="list">
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="电话号码">
        </label>

        <button class="button button-small button-calm">
          联系人
        </button>
      </div>
      <a class="button button-block button-positive" ui-sref="tab.inviteFriend">发送邀请</a>
    </div>
  </ion-content>
</ion-view>
