<ion-view view-title="我的圈子">
  <ion-nav-bar class="bar-dark"></ion-nav-bar>
  <ion-nav-buttons side="right">
    <a class="button icon ion-ios-heart" ui-sref="setting"></a>
  </ion-nav-buttons>
  <!--有圈子-->
  <ion-content>
    <div ng-show="isJoinGroup == 'N'">
      <div class="card">
        <div class="item">
        您现在还没有圈子！
        </div>
      </div>
      <div class="padding">
        <a class="button button-block button-balanced" ui-sref="tab.createCircle">创建圈子</a>
      </div>
    </div>

    <div class="list" ng-show="isJoinGroup == 'Y'">
      <a class="item item-avatar">
        <img src="img/zhiFuBao.png">
        <h2 ng-bind="groupName"></h2>
        <p>。。。。。</p>
      </a>
      <div class="item item-divider" style="min-height:11px"></div>
      <!--<div class="item" href="#">-->
        <!--跨店消费额<span class="item-note">10000</span>-->
      <!--</div>-->
      <div class="item" href="#">
        <div ng-show="isGroupOwner=='Y'">
          <div>跨店消费额<span class="item-note" ng-bind="crossStoreAmount"></span></div>
          <div>已卖卡总额<span class="item-note" ng-bind="presellAmount"></span></div>
          <div>已消费总额<span class="item-note" ng-bind="totalConsumptionAmount"></span></div>
          <div>剩余额度<span class="item-note" ng-bind="balance"></span></div>
          <div>收益总额<span class="item-note" ng-bind="income"></span></div>
        </div>
        <div>清算金额<span class="item-note" ng-bind="settlementAmount"></span></div>
      </div>

      <div class="item item-divider item-icon-right"><strong>圈友</strong></div>
      <a class="item item-avatar item-icon-right" ui-sref="tab.circleInfo({storeId:{{partner.storeId}},isGroupOwner:isGroupOwner})" ng-repeat="partner in partners">
        <img src="img/zhiFuBao.png">
        <h2 ng-bind="partner.storeName"></h2>
        <p>。。。。。</p>
        <i class="icon ion-ios-arrow-right" style="color:darkgrey"></i>
      </a>
    </div>

    <div ng-hide="invitations == undefined">
      <div class="item item-divider item-icon-right"><strong>邀请消息</strong></div>
      <ion-list>
        <ion-item ng-repeat="invitation in invitations" can-swipe="true">
          <h2>{{$index+1}}、 {{invitation.fromName}} 邀请您加入圈子</h2>
          <ion-option-button class="button-balanced" ng-click="bizAcceptGroupInvitation('Y',invitation.partyInvitationId)">接受</ion-option-button>
          <ion-option-button class="button-assertive" ng-click="bizAcceptGroupInvitation('N',invitation.partyInvitationId)">拒绝</ion-option-button>
        </ion-item>
      </ion-list>
    </div>

  </ion-content>
  <ion-footer-bar class="has-subfooter stable-bg" ng-show="isGroupOwner=='Y'">
      <a class="button button-positive" style="width: 49%;" ui-sref="tab.circleInvitation">
        邀请圈友
      </a>
      <a class="button button-positive" style="width: 49%" ng-click="bizDissolveGroup()">
        解散圈子
      </a>
  </ion-footer-bar>

  <ion-footer-bar class="has-subfooter stable-bg" ng-show="isGroupOwner=='N'">
      <a class="button button-positive" style="width: 49%;" ui-sref="tab.circleInvitation">
        结算
      </a>
      <a class="button button-positive" style="width: 49%" ng-click="bizDissolveGroup()">
        退出圈子
      </a>
  </ion-footer-bar>

</ion-view>
