<ion-view view-title="圈友详情">
  <ion-nav-bar class="bar-dark"></ion-nav-bar>
  <ion-nav-buttons side="left" >
    <a class="button icon ion-ios-undo" ng-click="$ionicGoBack()"></a>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button icon-left">
      <i class="icon ion-ios-paper-outline"></i> 账单
    </button>
  </ion-nav-buttons>

  <ion-content>
    <span class="circlebg"></span>
    <div class="list">
      <div class="item">
        <strong style="color: red;font-size: 20px">老王抠脚店</strong>
        <div>
          <div style="padding-top: 10px"><i class="icon ion-ios-telephone positive"></i> 18776256255</div>
          <div style="padding-top: 10px"><i class="icon ion-ios-location positive"></i> 上海市长宁区东华垃圾收集厂1000号</div>

        </div>
      </div>
      <!--<div class="item item-icon-left" href="#">-->
        <!--<i class="icon ion-ios-telephone positive"></i>-->
        <!--联系方式-->
        <!--<span class="item-note">18776256255</span>-->
      <!--</div>-->
      <!--<div class="item item-icon-left" href="#">-->
        <!--<i class="icon ion-android-send positive"></i>-->
        <!--联系地址-->
        <!--<span class="item-note">上海市长宁区东华垃圾收集厂1000号</span>-->
      <!--</div>-->
      <div class="item item-divider" style="min-height:11px"></div>
      <div class="item item-icon-left" href="#">
        <i class="icon ion-ios-cart positive"></i>
        跨店消费额
        <span class="item-note">12.00</span>
      </div>
      <div class="item item-divider" style="min-height:11px"></div>
      <div class="item item-icon-left" href="#">
        <i class="icon ion-ios-snowy positive"></i>
        冻结
      </div>
      <div class="item item-icon-left" href="#">
        <i class="icon ion-android-walk positive"></i>
        退出圈子
      </div>
    </div>


  </ion-content>
  <ion-footer-bar class="has-subfooter stable-bg" >
    <span style="padding: 10px">
      <span style="font-size: 20px;">清算金额:</span>
      <strong style="color: red;font-size: 20px;padding: 10px"> ￥12.00</strong>
    </span>
    <h1 class="title">
    </h1>
    <div class="buttons">
      <button class="button button-assertive" style="width: 100px"> 结 算 </button>
    </div>
  </ion-footer-bar>
</ion-view>
