<ion-view view-title="我的信用">
  <ion-nav-bar class="bar-positive"></ion-nav-bar>
  <!--<ion-content class="padding content has-header ionic-pseudo" style="padding: 0px;margin: 0px">-->
  <ion-nav-buttons side="left">
    <a class="button icon ion-ios-undo" ui-sref="tab.aboutMe"></a>
  </ion-nav-buttons>
  </div>
  <ion-content>
    <ion-list>
      <div class="padding" style="padding: 300px 40px 0px 60px">信用等级:<span>
            <span ng-if="storeLevel=='STORE_LEVEL_1'">
              <img class="wujiaoxing" src="img/wujiaoxinghuang.png">
              <img class="wujiaoxing" src="img/wujiaoxinhui.png">
              <img class="wujiaoxing" src="img/wujiaoxinhui.png">
              <img class="wujiaoxing" src="img/wujiaoxinhui.png">
              <img class="wujiaoxing" src="img/wujiaoxinhui.png">
            </span>
            <span ng-if="storeLevel=='STORE_LEVEL_2'">
              <img class="wujiaoxing" src="img/wujiaoxinghuang.png">
              <img class="wujiaoxing" src="img/wujiaoxinghuang.png">
              <img class="wujiaoxing" src="img/wujiaoxinhui.png">
              <img class="wujiaoxing" src="img/wujiaoxinhui.png">
              <img class="wujiaoxing" src="img/wujiaoxinhui.png">
            </span>
            <span ng-if="storeLevel=='STORE_LEVEL_3'">
              <img class="wujiaoxing" src="img/wujiaoxinghuang.png">
              <img class="wujiaoxing" src="img/wujiaoxinghuang.png">
              <img class="wujiaoxing" src="img/wujiaoxinghuang.png">
              <img class="wujiaoxing" src="img/wujiaoxinhui.png">
              <img class="wujiaoxing" src="img/wujiaoxinhui.png">
            </span>
            <span ng-if="storeLevel=='STORE_LEVEL_4'">
              <img class="wujiaoxing" src="img/wujiaoxinghuang.png">
              <img class="wujiaoxing" src="img/wujiaoxinghuang.png">
              <img class="wujiaoxing" src="img/wujiaoxinghuang.png">
              <img class="wujiaoxing" src="img/wujiaoxinghuang.png">
              <img class="wujiaoxing" src="img/wujiaoxinhui.png">
            </span>
            <span ng-if="storeLevel=='STORE_LEVEL_5'">
              <img class="wujiaoxing" src="img/wujiaoxinghuang.png">
              <img class="wujiaoxing" src="img/wujiaoxinghuang.png">
              <img class="wujiaoxing" src="img/wujiaoxinghuang.png">
              <img class="wujiaoxing" src="img/wujiaoxinghuang.png">
              <img class="wujiaoxing" src="img/wujiaoxinghuang.png">
            </span>
          </span></div>

    </ion-list>
  </ion-content>
</ion-view>
