<ion-view view-title="结算消息">
  <ion-nav-bar class="bar-positive"></ion-nav-bar>
  <!--<ion-content class="padding content has-header ionic-pseudo" style="padding: 0px;margin: 0px">-->
    <ion-nav-buttons side="left">
      <a class="button icon ion-ios-undo" ui-sref="tab.aboutMe"></a>
    </ion-nav-buttons>
    </div>
  <ion-content>
    <ion-list>
     <div class="padding">
       结算的历史消息记录：
     </div>
      <ion-item ng-repeat="item in partyNotes" item="item" href="#/item/{{item.id}}" class="item-remove-animate">
      <span style="color: red"> {{item.noteInfo}}</span>
      <ion-option-button class="button-calm" ng-click="deleteMessage(item.noteId)">
      删除
      </ion-option-button>
      <ion-option-button class="button-assertive" ng-click="already(item.noteId)">
      已读
      </ion-item>
      <div class="item text-center" ng-if="partyNotes==''">
      <span style="color: red"> 当前信用良好，没有欠款信息</span>
      </div>

    </ion-list>
  </ion-content>
</ion-view>
