<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="卡信息">
  <ion-nav-buttons side="left">
    <a class="button icon ion-ios-undo" ui-sref="tab.chats"></a>
  </ion-nav-buttons>
  <ion-content class="padding">

    <div class="charInfo">
      <div class="chartext" style="display: none">卡id： {{cardId}}</div>
      <div class="chartext" style="display: none">卡二维码： {{cardCode}}</div>
     <div class="chartext"><strong>{{cardName}}： {{cardBalance}}</strong> 元</div>
      <div id="output" class="item"></div>
      <div>该条码用于商家扫描</div>

	  <br/>

     <div class="fontstyle" id="sq"></div>
   </div>

  <div style="text-align: center">
    <span  >
      <button  class="button button-balanced" style="width: 35%">充值</button>
    </span>
    <span  ng-controller="scanPaymentController">
      <button  class="button button-calm" style="width: 35%"  ng-click="scanBarcode()">扫码消费</button>
    </span>

  </div>
    <div style="padding: 10px;text-align: center">
      <span  ng-show="shouQuan" ng-click="sq('{{cardId}}','{{cardBalance}}','{{cardName}}','{{cardCode}}')">
      <button  class="button button-positive" style="width: 74%">授权他人使用</button>
    </span>
    </div>
    <!--解除授权的绑定事件-->
    <div style="text-align: center" >
      <span ng-show="jieChu" ng-click="jc('{{cardId}}','{{cardBalance}}','{{cardName}}','{{cardCode}}')">
        <button class="button button-assertive" style="width: 72%"> 解除授权</button>
      </span>
    </div>

  </ion-content>
</ion-view>
