<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="卡信息">
  <ion-nav-buttons side="left">
    <a class="button icon ion-ios-undo" ui-sref="tab.chats"></a>
  </ion-nav-buttons>
  <ion-content class="padding">

    <div class="charInfo">
      <div class="chartext" style="display: none">卡id： {{cardId}}</div>
      <div class="chartext" style="display: none">卡二维码： {{cardCode}}</div>
     <div class="chartext">{{cardName}}： {{cardBalance}} 元</div>
      <div id="output"></div>
	  <br/>

     <div class="fontstyle" id="sq"></div>
   </div>

    <div ng-show="shouQuan" ng-click="sq('{{cardId}}','{{cardBalance}}','{{cardName}}','{{cardCode}}')">
          <button class="button button-positive" style="width: 100%">授权</button>
    </div>

    <div ng-show="jieChu" ng-click="jc('{{cardId}}','{{cardBalance}}','{{cardName}}','{{cardCode}}')">
     <button class="button button-block button-assertive"> 解除授权</button>
    </div>

  </ion-content>
</ion-view>
