<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="卡信息">
  <ion-nav-buttons side="left">
    <a class="button icon ion-ios-undo" ui-sref="tab.chats"></a>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <a class="button icon ion-clipboard"  href="#/tab/subBill/{{cardId}}" title="分账单" >分账单</a>
  </ion-nav-buttons>
  <ion-content class="padding">

    <div style="text-align: center;padding-top: 20px">
      <div class="chartext" style="display: none">卡id： {{cardId}}</div>
      <div class="chartext" style="display: none">卡二维码： {{cardCode}}</div>
     <div class="chartext"><strong>{{cardName}}： {{cardBalance}}</strong> 元</div>
      <!--<div id="output" class="item"></div>-->
      <div id="output" class="item"></div>
      <div class="padding-20">该条码用于商家扫描</div>

   </div>

  <div style="text-align: center">
    <span  >
      <button  class="button button-balanced" style="width: 40%">充值</button>
    </span>
    <span  ng-controller="scanPaymentController">
      <button  class="button button-calm" style="width: 40%"  ng-click="scanBarcode()">扫码消费</button>
    </span>

  </div>
    <div style="padding-top: 15px;text-align: center">
      <span  ng-show="shouQuan" ng-click="sq('{{cardId}}','{{cardBalance}}','{{cardName}}','{{cardCode}}','{{isAuthToOthers}}','{{isAuthToMe}}')">
      <button  class="button button-positive" style="width: 40%">授权他人用</button>
    </span>

      <span ng-show="zhuanKa" >
        <button class="button button-dark" style="width: 40%" ng-click="sellCard('{{cardId}}','{{cardBalance}}','{{cardName}}','{{cardCode}}')"> 转卡</button>
      </span>

       <span ng-show="jieChu" ng-click="jc('{{cardId}}','{{cardBalance}}','{{cardName}}','{{cardCode}}')">
        <button class="button button-assertive" style="width: 81%"> 解除授权</button>
      </span>
    </div>
    <!--解除授权的绑定事件-->
    <div style="text-align: center" >




    </div>
  </ion-content>
</ion-view>
