<ion-view view-title="授权">
  <ion-content class="padding">
   <div class="charInfo">
	   <div class="chartext">理发卡-可用余额：{{lastText}} 元</div>
	   <div class="list">
		  <label class="item item-input">
		    <span class="input-label">电话号码：</span>
		    <input id="other_tel" type="text">
		  </label>
		  <label class="item item-input">
		    <span class="input-label">授权金额：</span>
		    <input id="other_money" type="text">
		  </label>
		  <label class="item item-input">
		    <span class="input-label">授权时间：</span>
		    <input id="other_startDate" type="date">
		  </label>
		  <label class="item item-input">
		    <span class="input-label">截止时间：</span>
		    <input id="other_endDate" type="date">
		  </label>
		</div>
	  	<div class="powerbutton">
		  <button id="powerfrom" class="button button-positive" style="width: 100%">授权</button>
	  	</div>

   </div>
  </ion-content>
</ion-view>
