<ion-view title="用户可用卡的列表">
  <ion-nav-buttons side="left">
    <a class="button icon ion-ios-undo" href="#/tab/circleMap"></a>
  </ion-nav-buttons>
  <ion-content class="padding">
    <ion-item>
      <div style="width: 100%; height: 100%">
        <div class="list card" ng-repeat="chat in cloudCardList" style="border: 0px" class="char_style" >
          <div id="zd">   <h2>{{chat.cardName}}： <strong>{{chat.cardBalance}} 元</strong> </h2> </div>
          <!--<a class="item" href="#/tab/payment/{{chat.cardCode}}/{{chat.storeName}}/{{chat.storeId}}/{{chat.cardId}}" style="border: 0px">-->
          <a class="item" ng-click="paymentToCode('{{chat.cardId}}')" style="border: 0px">
            <div class="item item-image">
              <img src="{{chat.cardImg}}">
            </div>
          </a>
        </div>
        <!--为了避免出错，将页面不共享，分离出来-->
        <div class="item text-center">
          <a style="font-size: 50px;" ng-click="scanAddCard('{{qrCode}}');" >+</a>
        </div>
      </div>
    </ion-item>
  </ion-content>
</ion-view>
