<ion-view view-title="{{groupName}}">
  <ion-nav-bar class="bar-positive"></ion-nav-bar>
  <ion-nav-buttons side="left">
    <a class="button icon ion-ios-undo" ui-sref="tab.circleMap"></a>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a class="button icon ion-ios-heart" ui-sref="setting"></a>
  </ion-nav-buttons>

  <ion-content>
    <div class="list">
      <!--<div class="item item-icon-left" href="#">-->
        <!--<i class="icon ion-social-yen-outline calm"></i>-->
        <!--销量-->
        <!--<span class="item-note">10000</span>-->
      <!--</div>-->
      <div class="item item-divider">
        圈主
      </div>
      <div ng-repeat="chat in storeList">
        <a class="item item-avatar"  ng-if="chat.isGroupOwner=='Y'" href="#tab/shop/{{chat.storeId}}">
          <img src="{{chat.storeImg}}">
          <h2>名称: {{chat.storeName}}</h2>
          <p> 地址: {{chat.storeAddress}}</p>
          <!--<p>{{chat.storeTeleNumber}}</p>-->
        </a>
      </div>


      <div class="item item-divider">
        圈友
      </div>
      <div ng-repeat="chat in storeList">
        <a class="item item-avatar" ng-if="chat.isGroupOwner=='N'" href="#tab/shop/{{chat.storeId}}">
          <img src="{{chat.storeImg}}">
          <h2>名称: {{chat.storeName}}</h2>
          <p> 地址：{{chat.storeAddress}}</p>
          <!--<p>{{chat.storeTeleNumber}}</p>-->
        </a>
      </div>



    </div>
  </ion-content>
  <ion-footer-bar class="has-subfooter" >
    <button class="button button-block button-positive" style="margin-top: 0px;" ng-click="mycards(storeId)" >
      我的卡
    </button>
  </ion-footer-bar>
</ion-view>
