<ion-view view-title="我的圈子">
  <ion-header-bar class="bar-subheader has-header">
     <span  style="padding: 0px 40px 0px 90px" >
      <a  class="button button-balanced" >付款码</a>
    </span>
    <span >
      <button  class="button button-calm"  ng-click="scanBarcode()">扫一扫</button>
    </span>
  </ion-header-bar>
  <ion-nav-buttons side="right">
    <a class="button icon ion-clipboard"  href="#/tab/chats" title="我的卡" >我的卡</a>
  </ion-nav-buttons>

  <ion-content>
    <ion-list>
      <ion-item>
        <div id="allmap" style="height: 800px;"></div>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar class="has-subfooter stable-bg" style="height: 74px;display: inline" ng-show="storeInfo">
    <!--<div style="width: 200px;height:50px;padding: 0px 20px 0px 20px">-->
    <!--</div>-->
    <div style="padding-left: 20px">
      <div>
        <i class="icon ion-ios-body positive"></i>
        <span>名称: </span><a ui-sref="tab.myCircle">XXXXXXX</a>
      </div>
      <div>
        <i class="icon ion-ios-telephone positive"></i>
        <span>电话: </span><span>19776666636</span>
      </div>
      <div>
        <i class="icon ion-ios-location positive"></i>
        <span>地址: </span><span>19776666636</span>
      </div>
    </div>

  </ion-footer-bar>
</ion-view>
