<ion-view view-title="圈子">
  <ion-nav-bar class="bar-positive"></ion-nav-bar>
  <ion-nav-buttons side="left">
    <a class="button icon ion-ios-undo" ui-sref="tab.circleMap"></a>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a class="button icon ion-ios-heart" ui-sref="setting"></a>
  </ion-nav-buttons>

  <ion-content>
    <div class="list">
      <div class="item item-icon-left" href="#">
        <i class="icon ion-social-yen-outline calm"></i>
        销量
        <span class="item-note">10000</span>
      </div>
      <div class="item item-divider">
        圈主
      </div>
      <a class="item item-avatar" href="#">
        <img src="img/adam.jpg">
        <h2>Venkman</h2>
        <p>Back off, man. I'm a scientist.</p>
      </a>

      <div class="item item-divider">
        圈友
      </div>
      <a class="item item-avatar" href="#">
        <img src="img/ben.png">
        <h2>ben</h2>
        <p>Back off, man. I'm a scientist.</p>
      </a>
      <a class="item item-avatar" href="#">
        <img src="img/adam.jpg">
        <h2>adam</h2>
        <p>Back off, man. I'm a scientist.</p>
      </a>
      <a class="item item-avatar" href="#">
        <img src="img/max.png">
        <h2>max</h2>
        <p>Back off, man. I'm a scientist.</p>
      </a>
      <a class="item item-avatar" href="#">
        <img src="img/max.png">
        <h2>max</h2>
        <p>Back off, man. I'm a scientist.</p>
      </a>
      <a class="item item-avatar" href="#">
        <img src="img/max.png">
        <h2>max</h2>
        <p>Back off, man. I'm a scientist.</p>
      </a>
      <a class="item item-avatar" href="#">
        <img src="img/max.png">
        <h2>max</h2>
        <p>Back off, man. I'm a scientist.</p>
      </a>

    </div>
  </ion-content>
  <ion-footer-bar class="has-subfooter" >
    <button class="button button-block button-positive" style="margin-top: 0px;">
      我的卡
    </button>
  </ion-footer-bar>
</ion-view>
