<ion-view view-title="账单">
  <ion-content>
    <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
    <ion-list>
      <ion-item class="item-remove-animate" ng-repeat="chat in cardDetail" type="item-text-wrap">

        <h2>{{chat.storeName}}</h2>
       <p >消费：<b>{{chat.cardBalance}}</b>元 </b> </p>
       <p>类型：<span> {{chat.typeDesc}}</span></p>
       <p>时间：<span> {{chat.transDate | date:'yyyy-MM-dd' }}</span></p>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
