<ion-view view-title="库胖" cache-view="false">
  <ion-header-bar class="bar-subheader has-header">
     <span id="fukuan">
      <button class="button button-calm" ng-click="paymentCode()">付款码</button>
     </span>
    <span id="scan">
      <button class="button button-calm" ng-click="scanBarcode()" >扫一扫</button>
    </span>
  </ion-header-bar>
  <!--<ion-nav-buttons side="right">-->
    <!--<a class="button icon ion-clipboard"  href="#/tab/chats" title="我的卡" >我的卡</a>-->
  <!--</ion-nav-buttons>-->
  <ion-nav-buttons side="right" >
    <a class="button icon ion-ios-gear"  ui-sref="setting">设置</a>
  </ion-nav-buttons>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item>
        <div id="allmap" style="height: 500px;"></div>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar  class="has-subfooter stable-bg" style="height: 74px;display: inline" ng-show="storeInfo">
    <div style="padding: 0px 20px 0px 80px">
      <div >
        <i class="icon ion-ios-body positive"></i>
        <span ng-show="isGroupOwner=='Y'?true:false">圈主名称:
        <a href="#tab/myCircle/{{storeId}}/{{isGroupOwner}}" ng-bind="storeName"></a>
        </span >


        <span ng-show="isGroupOwner=='N'?true:false">店铺名称:
        <a href="#tab/shop/{{storeId}}/{{isGroupOwner}}" ng-bind="storeName"></a>
        </span>
        <!--<i class="icon ion-close-circled positive" style="padding: 0px 2px 0px 80px;width: 20px;height: 20px"></i>-->
        <span style="color: blue;float: right" ng-click="diglogHide()"> <i class="icon ion-close"></i></span>
      </div>
      <div>
        <i class="icon ion-ios-telephone positive"></i>
        <span>联系方式: </span><span ng-bind="telNum"></span>
      </div>
      <div>
        <i class="icon ion-ios-location positive"></i>
        <span>地址: </span><span ng-bind="address"></span>
      </div>
    </div>

  </ion-footer-bar>
</ion-view>
