
<ion-view view-title="设置">
  <ion-nav-buttons side="left">
    <a class="button icon ion-ios-undo" ui-sref="tab.chats"></a>
  </ion-nav-buttons>
  <ion-content>
    <div class="list">
      <div class="card">
        <div class="item item-text-wrap">
          关于我们
        </div>
        <div class="item item-text-wrap">
          用户反馈
        </div>
        <div class="item item-text-wrap">
          <span>版本更新</span>
          <li class="badge assertive-bg light">NEW</li>
        </div>
        <div class="item item-text-wrap">
          <span>关于云卡</span>
          <i class="badge assertive-bg light">NEW</i>
        </div>
      </div>
      <div class="padding">
        <button class="button button-block button-assertive" ng-click="outLogin()">退出</button>
      </div>
    </div>
  </ion-content>
</ion-view>
