<ion-view view-title="店铺">
  <ion-nav-bar class="bar-positive"></ion-nav-bar>
  <ion-nav-buttons side="left">
    <a class="button icon ion-ios-undo"  ng-if="isGroupOwner=='Y'" href="#tab/myCircle/{{storeId}}/{{isGroupOwner}}"></a>
    <a class="button icon ion-ios-undo"  ng-if="isGroupOwner=='N'" ui-sref="tab.circleMap"></a>
  </ion-nav-buttons>
  <ion-content>
    <div class="list">
      <div class="item item-divider" style="min-height:11px"></div>
      <a class="item item-avatar">
        <img ng-if="chat.storeImg == null"  src="img/avatar.png">
        <img ng-if="chat.storeImg != null" src="{{chat.storeImg + '?x-oss-process=image/circle,r_100'}}">
        <h2>{{storeName}}</h2>
        <!--<p>。。。。。</p>-->
      </a>

      <div class="item item-divider" style="min-height:11px"></div>
      <a class="item item-icon-left item-icon-right" href="#tab/goShop/{{longitude}}/{{latitude}}/{{storeId}}/{{isGroupOwner}}/{{storeAddress+storeName}}">
      <!--<a class="item item-icon-left item-icon-right" href="#tab/goShop">-->
        <i class="icon ion-ios-location positive"></i>
        {{storeAddress}}
        <i class="icon ion-ios-arrow-right" style="color:darkgrey;"></i>
      </a>
      <!--如果属于圈子才能购卡-->
      <a class="item item-icon-left item-icon-right" ng-if="isGroupOwner=='Y'" ng-click="buyCircleCard('{{storeId}}','{{isGroupOwner}}')">
      <i class="icon ion-ios-cart positive"></i>
        购卡/充值
      <i class="icon ion-ios-arrow-right" style="color:darkgrey"></i>
    </a>
      <!--没有加入圈子购卡方式-->
      <a class="item item-icon-left item-icon-right" ng-if="isGroupOwner=='N'" ng-click="selectCircleCardAndShopCard('{{storeId}}','{{isGroupOwner}}')">
      <i class="icon ion-ios-cart positive"></i>
        购卡/充值
      <i class="icon ion-ios-arrow-right" style="color:darkgrey"></i>
    </a>
      <div class="item item-divider" style="min-height:11px"></div>
      <div class="item item-icon-left" href="#">
        <i class="icon ion-ios-telephone positive"></i>
        联系方式
        <span class="item-note">{{storeTeleNumber}}	</span>
      </div>

    </div>
  </ion-content>
</ion-view>
