
<ion-view view-title="设置">
  <ion-nav-bar class="bar-positive"></ion-nav-bar>
  <ion-nav-buttons side="left">
    <a class="button icon ion-ios-undo" ui-sref="tab.aboutMe"></a>
  </ion-nav-buttons>

  <ion-content>
    <div class="padding">
      <div class="list list-borderless">
        <div class="item item-image">
          <img src="img/cardCloud.png">
        </div>
        <span class="positive" style="width: 100%;display: block;text-align: center">1.0</span>
      </div>
    </div>
    <div class="list">
      <!--
      <a class="item item-icon-left item-icon-right"  href="#tab/accountSecurity">
      -->
        <!--<a class="item item-icon-left item-icon-right" href="#tab/goShop">-->
      <!--
        <i class="icon ion-briefcase positive"></i>
        账户与安全
        <i class="icon ion-ios-arrow-right" style="color:darkgrey;"></i>
      </a>
      -->
      <!--
      <a class="item item-icon-left item-icon-right" >
      -->
        <!--<a class="item item-icon-left item-icon-right" href="#tab/goShop">-->
      <!--
        <i class="icon ion-link positive"></i>
        通用
        <i class="icon ion-ios-arrow-right" style="color:darkgrey;"></i>
      </a>
      -->
      <!--
      <a class="item item-icon-left item-icon-right" >
      -->
        <!--<a class="item item-icon-left item-icon-right" href="#tab/goShop">-->
      <!--
        <i class="icon ion-wand positive"></i>
        隐私
        <i class="icon ion-ios-arrow-right" style="color:darkgrey;"></i>
      </a>
      -->
      <!--
      <a class="item item-icon-left item-icon-right" >
      -->
        <!--<a class="item item-icon-left item-icon-right" href="#tab/goShop">-->
      <!--
        <i class="icon ion-speakerphone positive"></i>
        新消息通知
        <i class="icon ion-ios-arrow-right" style="color:darkgrey;"></i>
      </a>
      -->
      <!--
      <div class="item item-icon-left" ui-sref="setting">
        <i class="icon ion-speakerphone positive" ></i>
        通知栏
        <span class="item-note"></span>
      </div>
      -->
      <div class="item item-icon-left" ui-sref="tab.aboutUs">
        <i class="icon ion-laptop positive" ></i>
        关于我们
        <span class="item-note"></span>
      </div>
      <div class="item item-icon-left" ui-sref="tab.aboutCloudCard">
        <i class="icon ion-laptop positive" ></i>
        关于库胖
        <span class="item-note"></span>
      </div>

      <div class="padding">
        <button class="button button-block button-assertive" ng-click="outLogin()">退出</button>
      </div>
    </div>
  </ion-content>
</ion-view>
