<ion-view view-title="转卡成功">
  <ion-content class="padding">
    <div class="charInfo">
      <div class="chartext">转卡成功</div>

      <div class="list">
        <!--<label class="item item-input al">-->
        <!--<span class="input-label">卡ID：</span>-->
        <!--<strong><span ng-bind="cardId"></span></strong>-->
        <!--</label>-->
        <label class="item item-input al">
          <span class="input-label">商家名称：</span>
          <strong><span ng-bind="cardName"></span></strong>
        </label>

        <label class="item item-input al">
          <span class="input-label">手机号码：</span>
          <strong><span ng-bind="tel"></span> </strong>
        </label>
        <label class="item item-input al">
          <span class="input-label">当前余额：</span>
          <strong><span ng-bind="cardBalance"></span> 元</strong>
        </label>



      </div>
      <div class="powerbutton">
        <a href="#/tab/chats">
          <button id="tocard" class="button button-positive" style="width: 100%">退回首页</button>
        </a>
      </div>

    </div>
  </ion-content>
</ion-view>

