<ion-view view-title="商家的地图" cache-view="false">
  <ion-nav-buttons side="left">
    <a class="button icon ion-ios-undo" href="#tab/shop/{{storeId}}/{{isGroupOwner}}"></a>
  </ion-nav-buttons>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item>
       <div style="height: 800px">
         <div id="allmap" style="height: 400px;"></div>
         <div>
           <button class="button button-positive " ng-click="launchNavigator();">导航去这里</button>
         </div>
         <!--<div id="r-result" style="height:500px;width:100%;"></div>-->
       </div>
      </ion-item>
    </ion-list>
  </ion-content>

</ion-view>
