<ion-view view-title="转卡">
  <ion-nav-buttons side="left">
    <a class="button icon ion-ios-undo" href="#/tab/chats/{{cardId}}/{{cardBalance}}/{{cardName}}/{{cardCode}}/{{isAuthToOthers}}/{{isAuthToMe}}"></a>
  </ion-nav-buttons>

  <ion-content class="padding">
    <div class="cardinputInfos">
      <div class="chartext"><strong>{{cardName}}：{{cardBalance}}</strong> 元</div>
      <div class="cardinputInfo">
        <form  name="sellForm" ng-controller="TodoCtrl">
          <label class=" item-input" style="display: none">
            <span class="input-label">卡id：</span>
            <input id="other_cardId" class="form-control" type="text" value="{{cardId}}"/>
            <input id="cardName" name="cardName" class="form-control" type="text" value="{{cardName}}"/>
            <input id="cardBalance" name="cardBalance" class="form-control" type="text" value="{{cardBalance}}"/>
          </label>


          <div>
            <input id="telphone"  type="number" ng-model="telphone" name="telphone"
                   style="width:150px;display: inline-block" placeholder="请输入转卡手机号" required>
            <button style="padding: 0px 10px 0px 20px" class="button button-small "  ng-click="pickContactss();"  >
              选择联系人
            </button>
          </div>

          <span ng-bind="msg"
                style="width:300px;display: block;text-align: center;font-weight: bold;color: red;">...</span>
          <div id="sellCard" style="top: 20px;text-align: center;">
            <button class="button button-positive" style="width: 100%" ng-click="sellCard(cardName,cardBalance)">确认转卡
            </button>
          </div>
        </form>

      </div>
    </div>
  </ion-content>
</ion-view>
