<ion-view view-title="首页">
    <div class="kpCardWrap">
      <div class="scanPayBox cleafix">
        <div class="scanPay fl"  ng-click="paymentCode()">
          <img style="margin-left:-20px;height: 170%; width: 170%;" src="img/payment.png">
         <!-- <span class="text">付款</span>-->
        </div>
        <div class="scanPay fr" ng-click="scanBarcode()">
          <img style="height: 170%; width: 170%;"src="img/scan_1.png">
          <!--<span class="text" >扫一扫</span>-->
        </div>

      </div>
      <div class="cardInforBox" ng-click="myCard()">
        <img style="margin-left:-20px;height: 600%; width: 600%;" src="img/cards.png">
      </div>
    </div>
</ion-view>
