<ion-view view-title="开卡首页">
  <ion-nav-bar class="bar-positive"></ion-nav-bar>
  <ion-nav-buttons side="left">
    <a class="button icon ion-ios-undo" ui-sref="tab.dash"></a>
  </ion-nav-buttons>
  <ion-header-bar class="bar-subheader has-header">

  <span >
  您正在进行开卡操作>>>
  </span>
  <!--<span id="kaika">-->
  <!--<button class="button button-large button-calm" ng-click="activateCardList()" ng-controller="phoneNumberActivateCtrl" >已开的卡</button>-->
  <!--</span>-->
  </ion-header-bar>
  <ion-content class="padding content has-header ionic-pseudo" style="padding: 0px;margin: 0px">
    <div class="list list-borderless">
      <div class="item item-image">
        <img src="img/paris.jpg">
      </div>
    </div>
    <!--<div ng-controller="RechargeExampleController">-->
      <!--<a class="button button-block button-balanced"   ng-click="scanBarcode()">开新卡</a>-->
    <!--</div>-->
    <div>
    <a class="button button-block button-balanced" href="#/tab/phoneNumberActivate">无卡手机号开卡</a>
    </div>
  </ion-content>
</ion-view>
