<ion-view view-title="已开卡的账单">
  <ion-nav-bar class="bar-positive"></ion-nav-bar>
  <ion-nav-buttons side="left">
    <a class="button icon ion-ios-undo" ui-sref="tab.activateCardList"></a>
  </ion-nav-buttons>
  <ion-header-bar class="bar-subheader has-header" align-title="center">
     <span id="all" style="padding-left: 100px">
      <button class="button button-large button-positive" ng-click="all(0)">&nbsp;&nbsp;全&nbsp;部&nbsp;&nbsp;</button>
     </span>
    <span id="kalei">
      <button class="button button-large button-positive"  ng-click="zongRecharge(1)">总充值</button>
    </span>
    <span id="taren">
      <button class="button button-large button-positive " ng-click="zongConsume(2)" >总消费</button>
    </span>
  </ion-header-bar>
  <ion-content>
    <div>
      <div class="list">

        <a class="padding"   ng-repeat="(key,value)  in list"  >
          <div class="chakanzhangdan" >
            {{key}}
          </div>

          <div class="item item-avatar" ng-repeat="bills in value">
            <img src="img/icon.png">
            <span>{{bills.transDate |date:'M'}}</span>月
            <span>{{bills.transDate |date:'dd'}}</span>日
            <span style="padding-left: 18%">
                    {{bills.type=='1'?'+ '+bills.amount:'- '+bills.amount}}</span>
            <div><span>{{bills.transDate |date:'h:mm:ss'}}</span> <span style="padding-left: 20%" ng-bind="bills.storeName"></span></div>
          </div>
        </a>

      </div>


    </div>
  </ion-content>
</ion-view>
