<ion-view view-title="附近店铺列表">
  <ion-nav-bar class="bar-positive"></ion-nav-bar>
  <ion-nav-buttons side="left">
    <a class="button icon ion-ios-undo" ui-sref="tab.circleMap"></a>
  </ion-nav-buttons>
  <ion-content>

    <div class="list">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" ng-model="searchContent" placeholder="请输入要搜索的商家">
      </label>

      <!--<div class="item item-divider">-->
        <!--圈主-->
      <!--</div>-->
      <div ng-repeat="chat in storeList | filter:searchContent">
        <!--<a class="item item-avatar"   href="#tab/shop/{{chat.storeId}}/{{isGroupOwner}}">-->
        <a class="item item-avatar" >
          <img src="img/ben.png">
          <h2> {{chat.storeName}}</h2>
          <p>  {{chat.address}}</p>
          <!--<p>{{chat.storeTeleNumber}}</p>-->
        </a>
      </div>


    </div>
  </ion-content>

</ion-view>
