<ion-view view-title="店铺详情">
  <ion-nav-bar class="bar-positive"></ion-nav-bar>
  <ion-nav-buttons side="left">
    <a class="button icon ion-ios-undo" ui-sref="tab.circleList"></a>
  </ion-nav-buttons>
  <ion-content>
    <div class="list">
      <div class="item item-divider" style="min-height:11px"></div>
      <a class="item item-avatar">
        <img src="img/adam.jpg">
        <h2>商家一</h2>
        <p>上海市长宁区中山西路933号...</p>
      </a>
     <div id="shopAll">
        <span id="chongzhi">
       <button class="button button-calm" >充 值</button>
      </span>
      <span id="buycard">
       <button class="button button-calm" >买 卡</button>
      </span>
      <span id="xiaofeijilu">
       <button class="button button-calm " >消费记录</button>
      </span>
     </div>
      <div class="item item-divider" style="min-height:11px"></div>
      <div>
        <div>店家详情:</div>
        <div>这是一家口碑很好的店铺，享受一下终身值得拥有</div>
      </div>










    </div>
  </ion-content>
</ion-view>
