<ion-view view-title="店铺详情">
  <ion-nav-bar class="bar-positive"></ion-nav-bar>
  <ion-nav-buttons side="left">
    <a class="button icon ion-ios-undo" ui-sref="tab.circleList"></a>
  </ion-nav-buttons>
  <ion-content>
    <div class="list">
      <div class="item item-divider" style="min-height:11px"></div>
      <a class="item item-avatar">
        <img ng-if="{{storeImg}} == ''"  src="img/avatar.png">
        <img ng-if="{{storeImg}} != ''" src="{{storeImg}} + '?x-oss-process=image/circle,r_100'">
        <h2>{{storeName}}</h2>
        <p>{{storeAddress}}</p>
      </a>
     <div id="shopAll">
        <span id="chongzhi">
       <button class="button button-calm chongzhiButton" ng-click="selectShopCard('{{storeId}}')">充 值</button>
      </span>
      <span id="buycard">
       <button class="button button-calm buycardButton" ng-click="selectShopCard('{{storeId}}')">买 卡</button>
      </span>
      <span id="xiaofeijilu">
       <button class="button button-calm xiaofeijiluButton" ng-click="record()">消费记录</button>
      </span>
     </div>
      <div class="item item-divider" style="min-height:11px"></div>
      <div>
        <div>店家详情:</div>
        <div>这是一家口碑很好的店铺，享受一下终身值得拥有</div>
        <div class="row padding row-wrap">
          <div class="col col-33"  ng-click="shouBigImage()"
               style="width: 200px;height: 200px;padding:3px;-webkit-box-shadow: 0 0 10px rgb(153,134,117);-moz-box-shadow:0 0 10px rgb(153,134,117);box-shadow:0 0 10px rgb(153,134,117);border-radius: 3px;margin: -1px 0 0 -1px;text-align: center"
               ng-repeat="image in  storeInfoImgList">
            <img class="img-responsive"  style="height: 200px;width: 200px; border:1px solid #ffffff;"
                 ng-src="{{ossUrl+image.objectInfo}}" id="myImages">
          </div>
        </div>
        </div>

      </div>
    </div>
  </ion-content>
</ion-view>
